<div class="modal-new">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-btn">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      <div class="modal-body">
        <form action="" class="modal-new-form">
          <div class="col-12 box-group">
            <div class="form-label">
              <h1 class="form-title">Sucursal</h1>
            </div>
          </div>
          <div class="col-12 box-group mt-0">
            <label for="" class="required input-title">Nombre</label>
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-store"></i></span>
              <input type="text" class="input-text" placeholder="Ingrese el Nombre de la Sucursal" />
            </div>
            <div class="message-container">
              <div class="message">Se requiere el nombre de la sucursal</div>
            </div>
          </div>
          <div class="col-9 box-group">
            <label for="" class="required input-title">Dirección</label>
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-map"></i></span>
              <input type="text" class="input-text" placeholder="Ingrese la dirección de la Sucursal" />
            </div>
            <div class="message-container">
              <div class="message">Se requiere la dirección de la sucursal</div>
            </div>
          </div>
          <div class="col-3 box-group">
            <label for="" class="input-title">Zip</label>
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-map-location-dot"></i></span>
              <input type="text" class="input-text" placeholder="Ingrese Zip" />
            </div>
          </div>
          <div class="col-4 box-group">
            <label for="" class="required input-title">Ciudad</label>
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-city"></i></span>
              <input type="text" class="input-text" placeholder="Ingrese la ciudad" />
            </div>
            <div class="message-container">
              <div class="message">Se requiere la ciudad</div>
            </div>
          </div>
          <div class="col-4 box-group">
            <label for="" class="required input-title">Estado/Provincia</label>
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-mountain-city"></i></span>
              <input type="text" class="input-text" placeholder="Ingrese el estado" />
            </div>
            <div class="message-container">
              <div class="message">Se requiere el estado o provincia</div>
            </div>
          </div>
          <div class="col-4 box-group">
            <label for="" class="required input-title">Pais</label>
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-earth-americas"></i></span>
              <input type="text" class="input-text" placeholder="Ingrese el pais" />
            </div>
            <div class="message-container">
              <div class="message">Se requiere el pais</div>
            </div>
          </div>
          <div class="col-4 box-group">
            <label for="" class="required input-title">Celular</label>
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-mobile-screen-button"></i></span>
              <input type="text" class="input-text" placeholder="Ingrese el numero" />
            </div>
            <div class="message-container">
              <div class="message">Se requiere el numero</div>
            </div>
          </div>
          <div class="col-8 box-group">
            <label for="" class="input-title">E-mail</label>
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-envelope"></i></span>
              <input type="text" class="input-text" placeholder="Ingrese el email" />
            </div>
          </div>
          <div class="col-4 box-group">
            <label for="" class="input-title">Telefono</label>
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-square-phone"></i></span>
              <input type="text" class="input-text" placeholder="Ingrese el numero" />
            </div>
          </div>
          <div class="col-8 box-group">
            <label for="" class="input-title">Imagen</label>
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-image"></i></span>
              <input class="input-text" placeholder="Elija la imagen" />
              <button type="button" class="btn-upload">
                <span class="btn-upload-icon"><i class="fa-solid fa-cloud-arrow-up"></i></span>
                <span class="btn-upload-text">Upload</span>
              </button>
            </div>
          </div>
          <div class="col-12 box-group d-flex mt-15">
            <button class="btn" type="button">
              <span class="btn-icon"><i class="fa-solid fa-floppy-disk"></i></span>
              <span class="btn-text">Guardar</span>
            </button>
            <button class="btn" type="button">
              <span class="btn-icon"><i class="fa-solid fa-xmark"></i></span>
              <span class="btn-text">Cancelar</span>
            </button>
          </div>
          <!-- <div class="col-12 box-group d-flex mt-15">
            <button class="btn" type="button">
              <span class="btn-icon"><i class="fa-solid fa-floppy-disk"></i></span>
              <span class="btn-text">Guardar</span>
            </button>
          </div>
          <div class="col-12 box-group d-flex mt-1">
            <button class="btn" type="button">
              <span class="btn-icon"><i class="fa-solid fa-xmark"></i></span>
              <span class="btn-text">Cancelar</span>
            </button>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop"></div>
