<div class="modal-new">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-btn">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      <div class="modal-body">
        <form action="" class="modal-new-form">
          <div class="form-label"><h1 class="form-title">Sucursal</h1></div>
          <div class="input-group">
            <label for="" class="input-label">
              <span class="input-title">Nombre</span>
              <span class="input-tooltip"></span>
            </label>
            <input type="text" class="input-text" />
            <div class="message-container">
              <div class="message-content"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop"></div>
