<div class="modal-new">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-btn">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      <div class="modal-body">
        <form action="" class="modal-new-form">
          <div class="form-label"><h1 class="form-title">Sucursal</h1></div>
          <div class="input-group-1">
            <label for="" class="input-title">Nombre</label>
            <input type="text" class="input-text" placeholder="Ingrese el Nombre de la Sucursal" />
            <div class="message-container">
              <div class="message">Se requiere el nombre de la sucursal</div>
            </div>
          </div>
          <div class="input-group-1">
            <label for="" class="input-title">Dirección</label>
            <input type="text" class="input-text" placeholder="Ingrese la dirección de la Sucursal" />
            <div class="message-container">
              <div class="message">Se requiere la dirección de la sucursal</div>
            </div>
          </div>
          <div class="input-group-2">
            <div class="input-container-1">
              <label for="" class="input-title">Zip</label>
              <input type="text" class="input-text" placeholder="Ingrese Zip" />
              <div class="message-container">
                <div class="message">Se requiere Zip</div>
              </div>
            </div>
            <div class="input-container-2">
              <label for="" class="input-title">Zip</label>
              <input type="text" class="input-text" placeholder="Ingrese Zip" />
              <div class="message-container">
                <div class="message">Se requiere Zip</div>
              </div>
            </div>
          </div>
          <div class="input-group-3">
            <div class="input-container-3">
              <label for="" class="input-title">Ciudad</label>
              <input type="text" class="input-text" placeholder="Ingrese la ciudad" />
              <div class="message-container">
                <div class="message">Se requiere la ciudad</div>
              </div>
            </div>
            <div class="input-container-3">
              <label for="" class="input-title">Estado/Provincia</label>
              <input type="text" class="input-text" placeholder="Ingrese el estado" />
              <div class="message-container">
                <div class="message">Se requiere el estado o provincia</div>
              </div>
            </div>
            <div class="input-container-3">
              <label for="" class="input-title">Pais</label>
              <input type="text" class="input-text" placeholder="Ingrese el pais" />
              <div class="message-container">
                <div class="message">Se requiere el pais</div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop"></div>
