@import "../../../../shared/styles/variables.scss";

.backdrop-modal {
  position: fixed;
  inset: calc(0.25rem * 0);
  z-index: 1070;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: calc(0.25rem * 5);
}

.form-create {
  position: absolute;
  border-radius: 1rem;
  border: 1px solid $dark-blue;
  background-color: $white;
  top: 0;
  margin: 1.375rem auto;
  max-width: 730px;
}

.form-create-header {
  padding-inline: calc(0.25rem * 6);
  padding-block: calc(0.25rem * 5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $dark-blue;
  font-family: 1rem;
}

.form-create-title {
  font-size: 1rem;
  line-height: calc(1.5 / 1);
  letter-spacing: 1px;
  color: $dark-blue;
  margin-left: 10px;
}

.form-close-btn {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: 1px;
  opacity: 1;
  appearance: button;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(infinity * 1px);
  background-color: $light-blue;
  color: $white;
  transition: all 0.3s ease-out 0s;
  right: calc(0.25rem * 6);
  height: calc(2.4px * 10);
  width: calc(2.4px * 10);
  font-size: 14px;
}

.form-close-btn:hover {
  background-color: $dark-blue;
}

.form-create-body {
  border-top: 1px solid $dark-blue;
  padding: calc(0.25rem * 6);
}

.form-create-content {
  display: grid;
  column-gap: calc(0.25rem * 6);
  row-gap: calc(0.25rem * 5);
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  // grid-template-columns: repeat(1, minmax(0px, 1fr));
}

.input-label {
  margin-bottom: calc(0.25rem * 1.5);
  display: block;
  font-size: 0.875rem;
  line-height: 20px;
  // color: #1e375a;
  color: $dark-blue;
  letter-spacing: 1px;
  font-family: "Roboto-Medium";
}

.input-group {
  position: relative;
}

.input-icon {
  position: absolute;
  top: calc(1 / 2 * 100%);
  left: calc(0.25rem * 0);
  translate: 0 -50%;
  border-right: 1px solid rgba(13, 71, 161, 0.2);
  padding-inline: calc(0.25rem * 3.5);
  padding-block: calc(0.25rem * 3);
  color: $dark-blue;
}

.input-text {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: 1px;
  opacity: 1;
  appearance: none;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  height: calc(0.25rem * 11);
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid rgba(13, 71, 161, 0.2);
  background-color: transparent;
  padding-inline: calc(0.25rem * 4);
  padding-block: calc(0.25rem * 2.5);
  padding-left: 62px;
  font-size: 14px;
  line-height: 20px;
  color: #1e375a;
  box-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.input-text::placeholder {
  color: rgba(13, 71, 161, 0.7);
  opacity: 1;
}

.backdrop-blur {
  position: fixed;
  inset: calc(0.25rem * 0);
  z-index: 1060;
  width: 100%;
  height: 100%;
  background-color: color-mix(in oklab, #98a2b3 50%, transparent);
  backdrop-filter: blur(32px);
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

// .modal-new {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1055;
//   width: 100%;
//   height: 100%;
//   overflow-x: hidden;
//   overflow-y: auto;
//   outline: 0;
//   padding-left: 0;
// }

// .modal-dialog {
//   position: relative;
//   width: auto;
//   margin: 1.421872rem auto;
//   pointer-events: none;
//   display: flex;
//   align-items: center;
//   min-height: calc(100% - 2.84375rem);
//   max-width: 40.625rem !important;
// }

// .modal-content {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   pointer-events: auto;
//   background-color: $white;
//   // background-color: #e8e8e8;
//   background-clip: padding-box;
//   border: 0 solid rgba(0, 0, 0, 0.175);
//   box-shadow: 0 0.40625rem 0.8125rem 0 rgba(0, 0, 0, 0.1);
//   outline: 0;
//   border-radius: 0.625rem !important;
// }

// .modal-header {
//   display: flex;
//   flex-shrink: 0;
//   align-items: center;
//   padding: 12px 16px;
//   border-top-right-radius: 0.385935rem;
//   border-top-left-radius: 0.385935rem;
//   border: 0 !important;
//   border-width: 0 !important;
//   justify-content: flex-end !important;
//   padding-bottom: 0 !important;
//   background-color: $dark-blue;
//   z-index: 5;
// }

// .modal-btn {
//   font-size: 0.771872rem;
//   // color: $semi-light-blue;
//   color: $white;
//   text-align: center;
//   vertical-align: middle;
//   cursor: pointer;
//   user-select: none;
//   border-radius: 0.34531rem;
//   background-color: transparent;
//   transition: 0.15s ease-in-out;
//   outline: 0 !important;
//   display: flex;
//   // align-items: start;
//   // justify-content: center;
//   padding: 0;
//   line-height: 1;
//   // height: 2.17708rem;
//   // width: 2.17708rem;
//   box-shadow: none;
//   border: 0;
// }

// .modal-btn:active {
//   transform: scale(0.9);
// }

// .modal-btn i {
//   padding-right: 0;
//   display: inline-flex;
//   font-size: 1.125rem;
//   // color: $semi-light-blue;
// }

// .modal-btn:hover i {
//   color: $light-blue;
// }

// .modal-btn:active i {
//   transform: scale(0.9);
// }

// .modal-body {
//   flex: 1 1 auto;
//   padding: 0 3.046872rem 3.046872rem !important;
//   overflow-y: scroll;
//   position: relative;
//   scrollbar-width: thin;
//   scrollbar-color: #f1f1f4 transparent;
// }

// .modal-new-form {
//   display: flex;
//   flex-wrap: wrap;
//   margin: 0 -1.25rem;
// }

// .form-label {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 14px !important;
//   text-align: center !important;
//   background-color: $dark-blue;
//   color: $white;
// }

// .title-icon {
//   margin-top: 0;
//   line-height: 1.2;
//   // color: #071437;
//   font-size: 1.375rem;
//   outline: 0;
//   margin-bottom: 18px;
//   z-index: 10;
// }

// .form-title {
//   margin-top: 0;
//   line-height: 1.2;
//   // color: #071437;
//   font-size: 1.375rem;
//   outline: 0;
//   margin-bottom: 18px;
//   margin-left: 16px;
//   text-align: center !important;
//   z-index: 10;
// }

// .input-title {
//   display: inline-block;
//   margin-bottom: 0.40625rem;
//   font-family: "Roboto-Medium";
//   font-size: 0.875rem;
// }

// .required::after {
//   content: "*";
//   position: relative;
//   font-size: 0.875rem;
//   color: #dc3545;
//   padding-left: 0.203122rem;
// }

// .message-container {
//   display: block;
//   width: 100%;
//   margin-top: 0.40625rem;
//   font-size: 0.75rem;
//   color: #dc3545;
// }
