$dark-blue: #0d47a1;
$light-blue: #1565c0;
$shadow-gray: rgb(255 255 255 / 50%);
$sky-blue: #e3f2fd;
$shadow-dark-blue: rgba(13, 71, 161, 0.6);
$shadow-light-blue: rgba(21, 101, 192, 0.05);
$shadow-border-blue: rgba(21, 101, 192, 0.15);
