$black: #000000;
$white: #ffffff;
$black-blue: #001d3d;
$bold-blue: #014f86;
$dark-blue: #0d47a1;
$light-blue: #1565c0;
$semi-light-blue: #1e88e5;
$sky-semi-blue: #2196f3;
$sky-blue: #bbdefb;
$sky-light-blue: #e3f2fd;
$shadow-gray: rgb(255 255 255 / 50%);
$shadow-dark-blue: rgba(13, 71, 161, 0.6);
$shadow-light-blue: rgba(21, 101, 192, 0.3);
$shadow-border-light-blue: rgba(21, 101, 192, 0.3);
$background-light-blue: rgba(21, 101, 192, 0.05);
$background-dark-blue: rgba(13, 71, 161, 0.02);
$background-gray: #fcfcfc;
$hover-dark-blue: rgb(13 71 161 / 10%);
$input-color: #172b4b;
// $success:#198754
$success: #17c653;

$sidebar-width: 250px;
