$black: #000000;
$white: #ffffff;
$dark-blue: #0d47a1;
$light-blue: #1565c0;
$shadow-gray: rgb(255 255 255 / 50%);
$sky-blue: #e3f2fd;
$shadow-dark-blue: rgba(13, 71, 161, 0.6);
$shadow-light-blue: rgba(21, 101, 192, 0.3);
$background-light-blue: rgba(21, 101, 192, 0.05);
$background-dark-blue: rgba(13, 71, 161, 0.02);
$hover-dark-blue: rgb(13 71 161 / 10%);
$shadow-border-light-blue: rgba(21, 101, 192, 0.3);
$input-color: #172b4b;
