<div class="header">
  <div class="header-container">
    <div class="header-content">
      <div class="header-menu">
        <div class="menu">
          <div class="menu-item">
            <a href="#" class="menu-link">
              <span class="menu-title">Dashboard</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="" class="menu-link">
              <span class="menu-title">Layout Builder</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="" class="menu-link">
              <span class="menu-title">Crafted</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="" class="menu-link">
              <span class="menu-title">Apps</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="" class="menu-link">
              <span class="menu-title">Mega menu</span>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="navbar-search">
        <input type="text" class="input-search" />
        <label for="" class="input-label">
          <i class="icon-search fa-solid fa-magnifying-glass"></i>
          Search</label
        >
      </div> -->
      <div class="navbar">
        <div class="navbar-item">
          <div class="nav-btn">
            <i class="nav-icon fa-solid fa-moon"></i>
          </div>
        </div>
        <div class="navbar-item">
          <div class="nav-btn">
            <i class="nav-icon fa-solid fa-grip-vertical"></i>
          </div>
        </div>
        <div class="navbar-item">
          <div class="nav-btn">
            <i class="nav-icon fa-solid fa-bell"></i>
          </div>
        </div>
        <div class="navbar-item">
          <div class="nav-btn">
            <i class="nav-icon fa-solid fa-bag-shopping"></i>
          </div>
        </div>
        <div class="navbar-item">
          <div class="nav-btn">
            <i class="nav-icon fa-solid fa-grip-vertical"></i>
          </div>
        </div>
        <div class="navbar-item">
          <div class="nav-btn">
            <i class="nav-icon fa-solid fa-bag-shopping"></i>
          </div>
        </div>
        <div class="navbar-item">
          <div class="nav-btn">
            <i class="nav-icon fa-solid fa-bell"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
