<div class="header">
  <div class="header-container">
    <div class="header-content">
      <div class="header-menu">
        <div class="menu">
          <div class="menu-item">
            <a href="#" class="menu-link">
              <span class="menu-title">Sucursales</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="" class="menu-link"><span class="menu-title">Sucursales</span></a>
          </div>
          <div class="menu-item">
            <a href="" class="menu-link"><span class="menu-title">Sucursales</span></a>
          </div>
          <div class="menu-item">
            <a href="" class="menu-link"><span class="menu-title">Sucursales</span></a>
          </div>
          <div class="menu-item">
            <a href="" class="menu-link"><span class="menu-title">Sucursales</span></a>
          </div>
        </div>
      </div>
      <!-- <div class="navbar-search">
        <input type="text" class="input-search" />
        <label for="" class="input-label">
          <i class="icon-search fa-solid fa-magnifying-glass"></i>
          Search</label
        >
      </div> -->
      <div class="navbar">
        <div class="navbar-item">
          <div class="nav-btN">A</div>
        </div>
        <div class="navbar-item">
          <div class="nav-btN">B</div>
        </div>
        <div class="navbar-item">
          <div class="nav-btN">C</div>
        </div>
        <div class="navbar-item">
          <div class="nav-btN">D</div>
        </div>
        <div class="navbar-item">
          <div class="nav-btN">E</div>
        </div>
        <div class="navbar-item">
          <div class="nav-btN">F</div>
        </div>
        <div class="navbar-item">
          <div class="nav-btN">G</div>
        </div>
      </div>
      <!-- <div class="navbar">
        <div class="navbar-item">
          <i class="fa-solid fa-flag"></i>

          <li class="nav-item">
            <a href="" class="item-link">
              <i class="fa-solid fa-moon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="item-link">
              <i class="fa-solid fa-grip-vertical"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="item-link">
              <i class="fa-solid fa-bell"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="item-link">
              <i class="fa-solid fa-bag-shopping"></i>
            </a>
          </li>
        </div>
      </div> -->
    </div>
  </div>
</div>
