@import "../../styles/variables.scss";

.header {
  transition: none;
  display: flex;
  align-items: stretch;
  background-color: $white;
  // box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
  box-shadow: none;
  // border-bottom: 1px solid rgb(228 228 228 / 0%);
  height: 75px;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 265px;
  right: 0;
}

.header-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex !important;
  justify-content: space-between !important;
  align-items: stretch !important;
  padding-left: 30px;
  padding-right: 30px;
}

.header-content {
  display: flex !important;
  justify-content: space-between !important;
  align-items: stretch !important;
  flex-grow: 1 !important;
}

.header-menu {
  display: flex;
  align-items: stretch !important;
}

.menu {
  align-items: stretch !important;
  font-weight: 500 !important;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: row;
  height: inherit;
  width: inherit;
}

.menu-item {
  margin-right: 0.25rem !important;
  padding: 0.15rem 0;
  display: flex;
  align-items: center;
}

.menu-link {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  padding: 0.65rem 1rem;
  outline: none !important;
  transition: 0.2s ease-in-out;
  border-radius: 0.475rem;
  color: $semi-light-blue;
}

.menu-link:hover {
  background-color: $semi-light-blue;
  color: $white;
}

.menu-title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-family: "Roboto-Medium";
  font-size: 0.875rem;
  transition: 0.2s ease-in-out;
}

// .navbar-search {
//   position: relative !important;
//   display: block;
//   width: 30%;
// }

// .input-search {
//   width: 100%;
//   height: 45px;
//   border-radius: 0.375rem;
//   font-size: 1rem;
//   padding-top: 0.5rem;
//   padding-left: 1rem !important;
//   padding-right: 1rem !important;
//   border: 2px solid $semi-light-blue;
//   background: transparent;
//   color: $input-color;
//   outline: none;
//   transition: 0.2s ease-in-out;
// }

// .input-search:focus {
//   border: 2px solid $dark-blue;
// }

// .input-label {
//   position: absolute;
//   top: 50%;
//   left: 1rem;
//   transform: translateY(-50%);
//   font-size: 1rem;
//   pointer-events: none;
//   transition: 0.2s ease-in-out;
//   color: $semi-light-blue;
// }

// .input-search:focus ~ .input-label {
//   top: 20%;
//   left: 1.25rem;
//   font-size: 14px;
//   padding: 0 2px;
//   background: $white;
//   color: $dark-blue;
// }

// .icon-search {
//   transition: 0.2s ease-in-out;
// }

.navbar {
  display: flex;
  align-items: stretch;
  flex-shrink: 0 !important;
}

.navbar-item {
  display: flex;
  align-items: center;
  margin-left: 0.75rem !important;
}

.nav-btn {
  font-size: 1.1rem;
  color: $semi-light-blue;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 0.475rem;
  background-color: transparent;
  transition: 0.2s ease-in-out;
  width: 40px;
  height: 40px;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 1;
  box-shadow: none;
  border: 0;
}

.nav-btn:hover {
  background-color: $semi-light-blue;
  color: $white;
}

// @media (min-width: 992px) {
//   .navbar-search {
//     display: block !important;
//   }
// }
