<div class="topbar">
  <nav class="navbar">
    <div class="navbar-search">
      <input type="text" class="input-search" />
      <label for="" class="input-label">
        <i class="icon-search fa-solid fa-magnifying-glass"></i>
        Search</label
      >
    </div>
    <div class="navbar-nav">
      <ul class="navbar-menu">
        <li class="menu-item">
          <a href="" class="item-link">
            <i class="fa-solid fa-flag"></i>
          </a>
        </li>
        <li class="menu-item">
          <a href="" class="item-link">
            <i class="fa-solid fa-moon"></i>
          </a>
        </li>
        <li class="menu-item">
          <a href="" class="item-link">
            <i class="fa-solid fa-grip-vertical"></i>
          </a>
        </li>
        <li class="menu-item">
          <a href="" class="item-link">
            <i class="fa-solid fa-bell"></i>
          </a>
        </li>
        <li class="menu-item">
          <a href="" class="item-link">
            <i class="fa-solid fa-bag-shopping"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
