.login-container {
  margin: 0;
  font-family: "Inter", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8a92a6;
  text-align: var(--bs-body-text-align);
  background-color: #f5f6fa;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 0);
  margin-right: calc(-0.5 * 2rem);
  margin-left: calc(-0.5 * 2rem);
}

.m-0 {
  margin: 0 !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.bg-white {
  background-color: rgba(255, 255, 255, 1) !important;
}

.vh-100 {
  height: 100vh !important;
}

.row > * {
  max-width: 100%;
  padding-right: calc(2rem * 0.5);
  padding-left: calc(2rem * 0.5);
  margin-top: 0;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
}

.shadow-none {
  box-shadow: none;
}

.mb-0 {
  margin-bottom: 0;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.5rem;
  color: var(--bs-card-color);
}

.navbar-brand {
  white-space: nowrap;
}

a {
  color: #3a57e8;
  text-decoration: none;
}

.logo-main .logo-normal {
  display: block;
}

.text-primary {
  color: #3a57e8;
}

.icon-30 {
  height: 1.875rem;
  width: 1.875rem;
}

img,
svg {
  vertical-align: middle;
}

.ms-3 {
  margin-left: 1rem;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
  color: #232d42;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #0c112e;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  margin-bottom: 0.5rem;
}

label {
  display: inline-block;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8a92a6;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #eee;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -moz-appearance: none;
  appearance: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.form-check-input {
  border-color: #2e46ba;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}

a {
  color: #3a57e8;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-family: var(--bs-btn-font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #3a57e8;
  border-radius: 0.25rem;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.btn.btn-primary {
  color: #ffffff;
  background-color: #3a57e8;
  border-color: #3a57e8;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.list-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}

.list-group-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.list-group-flush {
  border-radius: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.border-0 {
  border: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.list-group-flush > .list-group-item {
  border-width: 0 0 1px;
}

.list-group-horizontal > .list-group-item:first-child:not(:last-child) {
  -webkit-border-bottom-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

.sign-bg {
  position: absolute;
  left: 0;
  top: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.d-none {
  display: none;
}

.mt-n1 {
  margin-top: -0.25rem;
}

.p-0 {
  padding: 0 !important;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(58, 87, 232, 1);
}

.bg-primary {
  background-color: #3a57e8;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.animated-scaleX {
  animation: animScale 45s 1s ease-in-out infinite;
}

.gradient-main {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333333%;
  }
}

@media (min-width: 1400px) {
  .auth-card {
    padding: 0 6.25rem;
  }
}

@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .col-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .d-md-block {
    display: block;
  }
}
