@use "../../../../shared/styles/variables.scss" as *;

.modal-detail {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  padding-left: 0;
}

.modal-content {
  position: relative;
  width: auto;
  max-width: 80%;
  margin: 1.421872rem auto;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 40px);
  height: calc(100% - 40px);
  border-radius: 1.5rem;
  background-color: $white;
  border: 1px solid $dark-blue;
  box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.2);
  // box-shadow: 0 0.40625rem 0.8125rem 0 rgba(0, 0, 0, 0.1);
}

.modal-split {
  position: relative;
  height: 100%;
  display: flex;
  pointer-events: auto;
  // border: 1px solid $dark-blue;
  overflow: auto;
  scrollbar-width: none;
}

.modal-background-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.detail-form {
  position: relative;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  pointer-events: auto;
  // padding: 25px 30px;
  width: 100%;
}

.detail-form-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // flex-direction: column;
  // color: $dark-blue;
  background-color: $dark-blue;
  color: $white;
  font-size: 1rem;
  border-top-right-radius: 1.5rem;
  padding: 16px 30px;
}

.detail-form-title {
  font-size: 20px;
  line-height: calc(1.5 / 1);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.detail-form-body {
  border-top: 1px solid $dark-blue;
  padding: 20px 30px 25px;
}

.detail-form-content {
  display: grid;
  column-gap: calc(0.25rem * 6);
  // row-gap: calc(0.25rem * 5);
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 0.125rem $dark-blue;
  border-top: 3px solid $dark-blue;
  background-color: $white;
  // border-right: 3px solid $dark-blue;
  // border-top: 3px solid $dark-blue;
  // border-radius: 8px;
  padding: 12px;
  margin-bottom: 20px;
}

.card-header {
  position: relative;
  height: 40px;
  width: 40px;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $dark-blue;
  // background-color: $white;
  border-radius: 50%;
  border: 2px solid $white;
  color: $white;
  // color: $dark-blue;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  font-size: 15px;
}

.card-body {
  text-align: center;
  padding: 16px 16px 0;
}

.card-title {
  margin-bottom: 8px;
  color: $dark-blue;
  font-size: 15px;
}

.card-text {
  margin-top: 8px;
  color: #1e375a;
  font-size: 15px;
}

.close-box-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  margin: 0;
  text-transform: none;
  appearance: button;
  background-image: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(255 255 255 / 1);
  box-shadow: 0 0 #0000, 0 0 #0000, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  transition: all 0.3s ease-out 0s;
}

.close-btn {
  border-radius: 0.5rem;
  background-color: $light-blue;
  // background-color: $white;
  // border: 1px solid $dark-blue;
  // color: $dark-blue;
}

.close-btn:hover {
  background-color: $dark-blue;
  // color: $white;
}

.close-btn:active {
  transform: scale(0.9);
}

.wh-40 {
  width: 40%;
}

.wh-60 {
  width: 60%;
}

.col-span-1 {
  grid-column: span 1 / span 1;
  margin-bottom: 10px;
}

.col-span-2 {
  grid-column: span 2 / span 2;
  margin-bottom: 10px;
}

.col-span-3 {
  grid-column: span 3 / span 3;
  margin-bottom: 10px;
}

.col-span-4 {
  grid-column: span 4 / span 4;
  margin-bottom: 10px;
}

.mr-8 {
  margin-right: 8px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.5);
}

.btlr {
  border-top-left-radius: 1.5rem;
}

.bblr {
  border-bottom-left-radius: 1.5rem;
}

.btrr {
  border-top-right-radius: 1.5rem;
}

.bbrr {
  border-bottom-right-radius: 1.5rem;
}
