@if(modalStatus()){ @if(!loading() && branchOfficesGetById()){
<div class="modal-detail">
  <div class="modal-content">
    <div class="modal-split wh-40 btlr bblr">
      <img
        src="https://imagenes.elpais.com/resizer/v2/PYLNGDT3NBPFJCO7BFH7566U2M.jpg?auth=256f8a2ddff6269141e8fb860fc2fdf94f304186875288c96ca90c386b0c008c&width=1200"
        alt=""
        class="modal-background-image"
      />
    </div>
    <div class="modal-split wh-60 btrr bbrr">
      <div class="detail-form">
        <div class="detail-form-header">
          <h3 class="detail-form-title">Sucursal</h3>
          <h3 class="detail-form-title">Codigo: {{ branchOfficesData().id }}</h3>
        </div>
        <div class="detail-form-body">
          <div class="detail-form-content">
            <div class="col-span-2">
              <div class="card-2">
                <h2 class="card-title-2">Nombre</h2>
                <p class="card-text-2">{{ branchOfficesData().name }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-store"></i></span>
              </div>
            </div>
            <div class="col-span-2">
              <div class="card-2">
                <h2 class="card-title-2">Dirección</h2>
                <p class="card-text-2">{{ branchOfficesData().address }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-map"></i></span>
              </div>
              <!-- <div class="card">
                <div class="card-header">
                  <span class="card-icon"><i class="fa-solid fa-map"></i></span>
                </div>
                <div class="card-body">
                  <h2 class="card-title">Dirección</h2>
                  <p class="card-text">{{ branchOfficesData().address }}</p>
                </div>
              </div> -->
            </div>
            <div class="col-span-2">
              <div class="card-2">
                <h2 class="card-title-2">E-mail</h2>
                <p class="card-text-2">{{ branchOfficesData().email }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-envelope"></i></span>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card-2">
                <h2 class="card-title-2">Celular</h2>
                <p class="card-text-2">{{ branchOfficesData().cellphone_number }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-mobile-screen-button"></i></span>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card-2">
                <h2 class="card-title-2">Telefono</h2>
                <p class="card-text-2">{{ branchOfficesData().phone_number }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-phone"></i></span>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card-2">
                <h2 class="card-title-2">Zip</h2>
                <p class="card-text-2">{{ branchOfficesData().postal_code }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-phone"></i></span>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card-2">
                <h2 class="card-title-2">Ciudad</h2>
                <p class="card-text-2">{{ branchOfficesData().city }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-city"></i></span>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card-2">
                <h2 class="card-title-2">Estado</h2>
                <p class="card-text-2">{{ branchOfficesData().state_province }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-mountain-city"></i></span>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card">
                <div class="card-header">
                  <span class="card-icon"><i class="fa-solid fa-map"></i></span>
                </div>
                <div class="card-body">
                  <h2 class="card-title">Dirección</h2>
                  <p class="card-text">{{ branchOfficesData().address }}</p>
                </div>
              </div>
            </div>

            <!-- <div class="col-span-2">
              <div class="card-2">
                <h2 class="card-title-2">Nombre</h2>
                <p class="card-text-2">{{ branchOfficesData().name }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-store"></i></span>
              </div>
            </div>
            <div class="col-span-2">
              <div class="card-2">
                <h2 class="card-title-2">Dirección</h2>
                <p class="card-text-2">{{ branchOfficesData().address }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-map"></i></span>
              </div>
            </div>
            <div class="col-span-2">
              <div class="card-2">
                <h2 class="card-title-2">E-mail</h2>
                <p class="card-text-2">{{ branchOfficesData().email }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-envelope"></i></span>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card-2">
                <h2 class="card-title-2">Celular</h2>
                <p class="card-text-2">{{ branchOfficesData().cellphone_number }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-mobile-screen-button"></i></span>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card-2">
                <h2 class="card-title-2">Telefono</h2>
                <p class="card-text-2">{{ branchOfficesData().phone_number }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-phone"></i></span>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card-2">
                <h2 class="card-title-2">Zip</h2>
                <p class="card-text-2">{{ branchOfficesData().postal_code }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-phone"></i></span>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card-2">
                <h2 class="card-title-2">Ciudad</h2>
                <p class="card-text-2">{{ branchOfficesData().city }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-city"></i></span>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card-2">
                <h2 class="card-title-2">Estado</h2>
                <p class="card-text-2">{{ branchOfficesData().state_province }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-mountain-city"></i></span>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card-2">
                <h2 class="card-title-2">Pais</h2>
                <p class="card-text-2">{{ branchOfficesData().country }}</p>
                <span class="card-icon-2"><i class="fa-solid fa-earth-americas"></i></span>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal-retrieve">
  <div class="modal-dialog">
    <div class="modal-content btlr bblr">
      <img
        src="https://imagenes.elpais.com/resizer/v2/PYLNGDT3NBPFJCO7BFH7566U2M.jpg?auth=256f8a2ddff6269141e8fb860fc2fdf94f304186875288c96ca90c386b0c008c&width=1200"
        class="modal-background-image"
      />
    </div>
    <div class="modal-content btrr bbrr">
      <div class="modal-header">
        <div class="modal-label">
          <h1 class="modal-title">SUCURSAL</h1>
        </div>
      </div>
      <div class="modal-body">
        <div class="modal-retrieve-form">
          <div class="col-4 box-group mt-40">
            <label for="" class="modal-info-title"><i class="fa-solid fa-key modal-info-icon"></i>Codigo</label>
            <div class="modal-group">
              <label class="modal-text">{{ branchOfficesData().id }}</label>
            </div>
          </div>
          <div class="col-8 box-group mt-40">
            <label for="" class="modal-info-title"><i class="fa-solid fa-store modal-info-icon"></i>Nombre</label>
            <div class="modal-group">
              <label class="modal-text">{{ branchOfficesData().name }}</label>
            </div>
          </div>
          <div class="col-8 box-group mt-26">
            <label for="" class="modal-info-title"><i class="fa-solid fa-map modal-info-icon"></i>Dirección</label>
            <div class="modal-group">
              <label class="modal-text">{{ branchOfficesData().address }}</label>
            </div>
          </div>
          <div class="col-4 box-group mt-26">
            <label for="" class="modal-info-title"><i class="fa-solid fa-map-location-dot modal-info-icon"></i>Zip</label>
            <div class="modal-group">
              <label class="modal-text">{{ branchOfficesData().postal_code }}</label>
            </div>
          </div>
          <div class="col-12 box-group">
            <label for="" class="modal-info-title"><i class="fa-solid fa-envelope modal-info-icon"></i>Email</label>
            <div class="modal-group">
              <label class="modal-text">{{ branchOfficesData().email }}</label>
            </div>
          </div>
          <div class="col-4 box-group mt-26">
            <label for="" class="modal-info-title"><i class="fa-solid fa-mobile-screen-button modal-info-icon"></i>Celular</label>
            <div class="modal-group">
              <label class="modal-text">{{ branchOfficesData().cellphone_number }}</label>
            </div>
          </div>
          <div class="col-4 box-group mt-26">
            <label for="" class="modal-info-title"><i class="fa-solid fa-square-phone modal-info-icon"></i>Telefono</label>
            <div class="modal-group">
              <label class="modal-text">{{ branchOfficesData().phone_number }}</label>
            </div>
          </div>
          <div class="col-4 box-group mt-26">
            <label for="" class="modal-info-title"><i class="fa-solid fa-earth-americas modal-info-icon"></i>País</label>
            <div class="modal-group">
              <label class="modal-text">{{ branchOfficesData().country }}</label>
            </div>
          </div>
          <div class="col-2 box-group mt-26"></div>
          <div class="col-4 box-group mt-26">
            <label for="" class="modal-info-title"><i class="fa-solid fa-city modal-info-icon"></i>Ciudad</label>
            <div class="modal-group">
              <label class="modal-text">{{ branchOfficesData().city }}</label>
            </div>
          </div>
          <div class="col-4 box-group mt-26">
            <label for="" class="modal-info-title"><i class="fa-solid fa-mountain-city modal-info-icon"></i>Estado</label>
            <div class="modal-group">
              <label class="modal-text">{{ branchOfficesData().state_province }}</label>
            </div>
          </div>
          <div class="col-2 box-group mt-26"></div>
          <div class="col-12 box-group d-flex mt-40">
            <button class="btn-success" type="button" (click)="closeModal()"><i class="fa-solid fa-check"></i>Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="modal-backdrop"></div>
} }
