@use "../../../../shared/styles/variables.scss" as *;

.modal-detail {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  padding-left: 0;
}

.modal-content {
  position: relative;
  width: 80%;
  margin: 1.421872rem auto;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 40px);
  height: calc(100% - 40px);
  border-radius: 1.5rem;
  background-color: $white;
  border: 1px solid $dark-blue;
  box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.2);
  // box-shadow: 0 0.40625rem 0.8125rem 0 rgba(0, 0, 0, 0.1);
}

.modal-split {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  pointer-events: auto;
}

.modal-background-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.detail-form {
  position: relative;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  pointer-events: auto;
  padding: 25px 30px;
  width: 100%;
}

.detail-form-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // flex-direction: column;
  color: $dark-blue;
  font-size: 1rem;
  margin-bottom: 25px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.detail-form-title {
  font-size: 24px;
  line-height: calc(1.5 / 1);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.detail-form-body {
  border-top: 1px solid $dark-blue;
  padding-top: 34px;
}

.detail-form-content {
  display: grid;
  column-gap: calc(0.25rem * 6);
  // row-gap: calc(0.25rem * 5);
  grid-template-columns: repeat(3, minmax(0px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // margin: 0 auto;
  background: linear-gradient($dark-blue 32%, $white 32%);
  box-shadow: 0 0 0.125rem $dark-blue;
  border-radius: 8px;
  padding: 12px;
}

.card-header {
  position: relative;
  height: 50px;
  width: 50px;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $dark-blue;
  border-radius: 50%;
  border: 2px solid $white;
  color: $white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.card-body {
  text-align: center;
  padding: 16px;
}

.card-title {
  margin-bottom: 8px;
  color: $dark-blue;
  // color: #1e375a;
  font-size: 18px;
}

.card-text {
  margin-top: 8px;
  color: #1e375a;
  font-size: 16px;
}

.card-2 {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px #a3a5ae;
  padding: 30px;
  border-top: 3px solid $dark-blue;
  width: 100%;
}

.card-title-2 {
  font-size: 22px;
  color: $dark-blue;
}

.col-span-1 {
  grid-column: span 1 / span 1;
  margin-bottom: 10px;
}

.col-span-2 {
  grid-column: span 2 / span 2;
  margin-bottom: 10px;
}

// .modal-retrieve {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1055;
//   width: 100%;
//   height: 100%;
//   overflow-x: hidden;
//   overflow-y: auto;
//   outline: 0;
//   padding-left: 0;
// }

// .modal-dialog {
//   position: relative;
//   width: 80%;
//   margin: 20px auto;
//   pointer-events: none;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   min-height: calc(100% - 40px);
//   height: calc(100% - 40px);
//   border-radius: 0.625rem !important;
//   // max-width: 40.625rem !important;
// }

// .modal-content {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   width: 50%;
//   height: 100%;
//   pointer-events: auto;
//   background-color: $white;
//   background-clip: padding-box;
//   border: 0 solid rgba(0, 0, 0, 0.175);
//   box-shadow: 0 0.40625rem 0.8125rem 0 rgba(0, 0, 0, 0.1);
//   outline: 0;
//   // border-radius: 0.625rem !important;
//   // margin: 15px;
// }

// .modal-background-image {
//   width: 100%;
//   height: 100%;
//   border-top-left-radius: 0.385935rem;
//   border-bottom-left-radius: 0.385935rem;
// }

// .modal-header {
//   display: flex;
//   flex-shrink: 0;
//   align-items: center;
//   justify-content: center;
//   background-color: $dark-blue;
//   padding: 1.421872rem;
//   border-top-right-radius: 0.625rem;
//   border: 0 !important;
//   border-width: 0 !important;
//   padding-bottom: 0 !important;
//   height: 56px;
// }

// .modal-label {
//   margin-bottom: 18px !important;
//   text-align: center !important;
// }

// .modal-title {
//   margin-top: 0;
//   line-height: 1.2;
//   color: $white;
//   font-size: 22px;
//   outline: 0;
//   // margin-bottom: 9.75px;
// }

// .modal-body {
//   flex: 1 1 auto;
//   padding: 0 2.375rem 2.375rem !important;
//   border-bottom-right-radius: 0.625rem;
//   overflow-y: scroll;
//   position: relative;
//   // scrollbar-width: thin;
//   // scrollbar-color: #f1f1f4 transparent;
// }

// .modal-retrieve-form {
//   display: flex;
//   flex-wrap: wrap;
//   margin: 0 -1.25rem;
// }

// .modal-info-title {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 10px;
//   font-family: "Roboto-Medium";
//   font-size: 15px;
//   color: $dark-blue;
// }

// .modal-info-icon {
//   width: 26px;
//   height: 26px;
//   background-color: $dark-blue;
//   color: $white;
//   line-height: 26px;
//   text-align: center;
//   border-radius: 50%;
//   font-size: 12px;
//   margin-right: 5px;
// }

// .modal-group {
//   position: relative;
//   display: flex;
//   flex-wrap: nowrap;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   border-radius: 0.625rem;
//   // border: 2px solid $dark-blue;
//   border: 2px solid $dark-blue;
//   height: 46px;
// }

// .modal-icon {
//   position: absolute;
//   top: -16px;
//   left: 50%;
//   margin-left: -15px;
//   width: 26px;
//   height: 26px;
//   background-color: $dark-blue;
//   color: $white;
//   line-height: 26px;
//   text-align: center;
//   border-radius: 50%;
//   font-size: 12px;
// }

// .modal-text {
//   font-family: "Roboto-Regular";
//   margin: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   // padding-top: 12px;
//   font-size: 16px;
//   letter-spacing: 0.03125rem;
//   line-height: 1.5;
//   // color: $dark-blue;
//   color: $black-blue;
//   appearance: none;
//   background-clip: padding-box;
//   border-radius: 0.625rem;
//   transition: 0.2s ease-in-out;
//   flex: 1 1 auto;
//   height: 46px;
//   width: 1%;
//   min-width: 0;
//   outline: none;
// }

// .btn-success {
//   display: inline-block;
//   font-size: 14px;
//   text-align: center;
//   vertical-align: middle;
//   cursor: pointer;
//   user-select: none;
//   border-radius: 0.425rem;
//   transition: 0.15s ease-in-out;
//   outline: 0 !important;
//   color: #ffffff;
//   background-color: $dark-blue;
//   border: 0;
//   box-shadow: none;
//   padding: 14px 18px;
// }

// .btn-success:hover {
//   background-color: $light-blue;
// }

// .btn-success:active {
//   transform: scale(0.9);
// }

// .btn-success > i {
//   display: inline-flex;
//   margin-right: 0.25rem;
//   padding-right: 0.35rem;
//   font-size: 0.875rem;
// }

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.5);
}

.btlr {
  border-top-left-radius: 1.5rem;
}

.bblr {
  border-bottom-left-radius: 1.5rem;
}

.btrr {
  border-top-right-radius: 1.5rem;
}

.bbrr {
  border-bottom-right-radius: 1.5rem;
}

// .wth-4 {
//   width: 33.33333333%;
// }

// .wth-8 {
//   width: 66.66666667%;
// }

// .d-flex-center {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
