@if(modalStatus()){ @if(!loading() && branchOfficesGetById()){
<div @animateChildren class="modal-detail">
  <div @transformTranslate class="modal-content">
    <div class="modal-split wh-40 btlr bblr">
      <img [src]="branchOfficesData().img" alt="" class="modal-background-image" />
    </div>
    <div class="modal-split wh-60 btrr bbrr">
      <div class="detail-form">
        <div class="detail-form-header">
          <h3 class="detail-form-title"><i class="fa-solid fa-shop mr-8"></i>Sucursal</h3>
          <h3 class="detail-form-title"><i class="fa-solid fa-key mr-8"></i>Codigo: {{ branchOfficesData().id }}</h3>
        </div>
        <div class="detail-form-body">
          <div class="detail-form-content">
            <div class="col-span-2">
              <div class="card">
                <div class="card-header">
                  <span class="card-icon"><i class="fa-solid fa-store"></i></span>
                </div>
                <div class="card-body">
                  <h2 class="card-title">Nombre</h2>
                  <p class="card-text">{{ branchOfficesData().name }}</p>
                </div>
              </div>
            </div>
            <div class="col-span-2">
              <div class="card">
                <div class="card-header">
                  <span class="card-icon"><i class="fa-solid fa-map"></i></span>
                </div>
                <div class="card-body">
                  <h2 class="card-title">Dirección</h2>
                  <p class="card-text">{{ branchOfficesData().address }}</p>
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card">
                <div class="card-header">
                  <span class="card-icon"><i class="fa-solid fa-mobile-screen-button"></i></span>
                </div>
                <div class="card-body">
                  <h2 class="card-title">Celular</h2>
                  <p class="card-text">{{ branchOfficesData().cellphone_number }}</p>
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card">
                <div class="card-header">
                  <span class="card-icon"><i class="fa-solid fa-phone"></i></span>
                </div>
                <div class="card-body">
                  <h2 class="card-title">Telefono</h2>
                  <p class="card-text">{{ branchOfficesData().phone_number }}</p>
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card">
                <div class="card-header">
                  <span class="card-icon"><i class="fa-solid fa-map-location-dot"></i></span>
                </div>
                <div class="card-body">
                  <h2 class="card-title">Zip</h2>
                  <p class="card-text">{{ branchOfficesData().postal_code }}</p>
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card">
                <div class="card-header">
                  <span class="card-icon"><i class="fa-solid fa-city"></i></span>
                </div>
                <div class="card-body">
                  <h2 class="card-title">Ciudad</h2>
                  <p class="card-text">{{ branchOfficesData().city }}</p>
                </div>
              </div>
            </div>
            <div class="col-span-2">
              <div class="card">
                <div class="card-header">
                  <span class="card-icon"><i class="fa-solid fa-envelope"></i></span>
                </div>
                <div class="card-body">
                  <h2 class="card-title">E-mail</h2>
                  <p class="card-text">{{ branchOfficesData().email }}</p>
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card">
                <div class="card-header">
                  <span class="card-icon"><i class="fa-solid fa-mountain-city"></i></span>
                </div>
                <div class="card-body">
                  <h2 class="card-title">Estado</h2>
                  <p class="card-text">{{ branchOfficesData().state_province }}</p>
                </div>
              </div>
            </div>
            <div class="col-span-1">
              <div class="card">
                <div class="card-header">
                  <span class="card-icon"><i class="fa-solid fa-earth-americas"></i></span>
                </div>
                <div class="card-body">
                  <h2 class="card-title">Pais</h2>
                  <p class="card-text">{{ branchOfficesData().country }}</p>
                </div>
              </div>
            </div>
            <div class="col-span-4">
              <div class="close-box-btn">
                <button class="btn close-btn" (click)="closeModal()"><i class="fa-solid fa-check"></i>Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div @fadeInOut class="backdrop-opacity"></div>
} }
