@if(modalStatus()){
<div @animateChildren class="modal-create">
  <div @transformTranslate class="modal-content">
    <div class="form-create">
      <div class="form-create-header">
        <div class="form-create-icon">
          <i class="fa-solid fa-store"></i>
        </div>
        <h3 class="form-create-title">Crear Sucursal</h3>
        <button class="form-close-btn" (click)="closeModal()"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="form-create-body">
        <form [formGroup]="branchForm" (submit)="createBranch($event)">
          <div class="form-create-content">
            <div class="col-span-2">
              <label for="" class="input-label">Nombre</label>
              <div class="input-group">
                <span class="input-icon"><i class="fa-solid fa-shop"></i></span>
                <input
                  formControlName="name"
                  type="text"
                  class="input-text"
                  [ngClass]="{ 'input-error': branchForm.get('name')?.invalid && branchForm.get('name')?.touched }"
                  placeholder="Ingrese el Nombre de la Sucursal"
                />
                <span class="input-icon-error" [ngClass]="{ 'op-1': branchForm.get('name')?.invalid && branchForm.get('name')?.touched }">
                  <i class="fa-solid fa-circle-info"></i>
                </span>
              </div>
              <p class="message-error" [ngClass]="{ 'op-1': branchForm.get('name')?.invalid && branchForm.get('name')?.touched }">
                Se requiere el nombre de la sucursal
              </p>
            </div>
            <div class="col-span-2">
              <label for="" class="input-label">Dirección</label>
              <div class="input-group">
                <span class="input-icon"><i class="fa-solid fa-map-location-dot"></i></span>
                <input
                  formControlName="address"
                  type="text"
                  class="input-text"
                  [ngClass]="{ 'input-error': branchForm.get('address')?.invalid && branchForm.get('address')?.touched }"
                  placeholder="Ingrese la dirección de la Sucursal"
                />
                <span class="input-icon-error" [ngClass]="{ 'op-1': branchForm.get('address')?.invalid && branchForm.get('address')?.touched }">
                  <i class="fa-solid fa-circle-info"></i>
                </span>
              </div>
              <p class="message-error" [ngClass]="{ 'op-1': branchForm.get('address')?.invalid && branchForm.get('address')?.touched }">
                Se requiere la dirección de la sucursal
              </p>
            </div>
            <div class="col-span-1">
              <label for="" class="input-label">Celular</label>
              <div class="input-group">
                <span class="input-icon"><i class="fa-solid fa-mobile-screen-button"></i></span>
                <input
                  formControlName="cellphone_number"
                  type="text"
                  class="input-text"
                  [ngClass]="{ 'input-error': branchForm.get('cellphone_number')?.invalid && branchForm.get('cellphone_number')?.touched }"
                  placeholder="Ingrese el numero"
                />
                <span
                  class="input-icon-error"
                  [ngClass]="{ 'op-1': branchForm.get('cellphone_number')?.invalid && branchForm.get('cellphone_number')?.touched }"
                >
                  <i class="fa-solid fa-circle-info"></i>
                </span>
              </div>
              <p
                class="message-error"
                [ngClass]="{ 'op-1': branchForm.get('cellphone_number')?.invalid && branchForm.get('cellphone_number')?.touched }"
              >
                Se requiere el numero celular
              </p>
            </div>
            <div class="col-span-1 mb-34">
              <label for="" class="input-label">Telefono</label>
              <div class="input-group">
                <span class="input-icon"><i class="fa-solid fa-phone"></i></span>
                <input formControlName="phone_number" type="text" class="input-text" placeholder="Ingrese el numero" />
              </div>
            </div>
            <div class="col-span-2 mb-34">
              <label for="" class="input-label">Email</label>
              <div class="input-group">
                <span class="input-icon"><i class="fa-solid fa-envelope"></i></span>
                <input formControlName="email" type="text" class="input-text" placeholder="Ingrese el email" />
              </div>
            </div>
            <div class="col-span-1">
              <label for="" class="input-label">Ciudad</label>
              <div class="input-group">
                <span class="input-icon"><i class="fa-solid fa-city"></i></span>
                <input
                  formControlName="city"
                  type="text"
                  class="input-text"
                  [ngClass]="{ 'input-error': branchForm.get('city')?.invalid && branchForm.get('city')?.touched }"
                  placeholder="Ingrese la ciudad"
                />
                <span class="input-icon-error" [ngClass]="{ 'op-1': branchForm.get('city')?.invalid && branchForm.get('city')?.touched }">
                  <i class="fa-solid fa-circle-info"></i>
                </span>
              </div>
              <p class="message-error" [ngClass]="{ 'op-1': branchForm.get('city')?.invalid && branchForm.get('city')?.touched }">
                Se requiere la ciudad
              </p>
            </div>
            <div class="col-span-1">
              <label for="" class="input-label">Estado o Provincia</label>
              <div class="input-group">
                <span class="input-icon"><i class="fa-solid fa-mountain-city"></i></span>
                <input
                  formControlName="state_province"
                  type="text"
                  class="input-text"
                  [ngClass]="{ 'input-error': branchForm.get('state_province')?.invalid && branchForm.get('state_province')?.touched }"
                  placeholder="Ingrese el estado"
                />
                <span
                  class="input-icon-error"
                  [ngClass]="{ 'op-1': branchForm.get('state_province')?.invalid && branchForm.get('state_province')?.touched }"
                >
                  <i class="fa-solid fa-circle-info"></i>
                </span>
              </div>
              <p class="message-error" [ngClass]="{ 'op-1': branchForm.get('state_province')?.invalid && branchForm.get('state_province')?.touched }">
                Se requiere el estado o provincia
              </p>
            </div>
            <div class="col-span-1 mb-34">
              <label for="" class="input-label">Zip</label>
              <div class="input-group">
                <span class="input-icon"><i class="fa-solid fa-location-dot"></i></span>
                <input formControlName="postal_code" type="text" class="input-text" placeholder="Ingrese Zip" />
              </div>
            </div>
            <div class="col-span-1">
              <label for="" class="input-label">Pais</label>
              <div class="input-group">
                <span class="input-icon"><i class="fa-solid fa-earth-americas"></i></span>
                <input
                  formControlName="country"
                  type="text"
                  class="input-text"
                  [ngClass]="{ 'input-error': branchForm.get('country')?.invalid && branchForm.get('country')?.touched }"
                  placeholder="Ingrese el pais"
                />
                <span class="input-icon-error" [ngClass]="{ 'op-1': branchForm.get('country')?.invalid && branchForm.get('country')?.touched }">
                  <i class="fa-solid fa-circle-info"></i>
                </span>
              </div>
              <p class="message-error" [ngClass]="{ 'op-1': branchForm.get('country')?.invalid && branchForm.get('country')?.touched }">
                Se requiere el país
              </p>
            </div>
            <div class="col-span-2">
              <label for="" class="input-label">Imagen</label>
              <div class="input-group">
                <span class="input-icon br-0 hg-42 pie"><i class="fa-solid fa-file-image"></i></span>
                <input #fileImage type="file" class="input-file" (change)="fileChange(fileImage.files)" />
              </div>
            </div>
          </div>
          <div class="push-btn-group">
            <button class="push-btn" type="submit" [disabled]="branchForm.invalid"><i class="fa-solid fa-floppy-disk"></i>Guardar</button>
            <button class="push-btn" type="button" (click)="closeModal()"><i class="fa-solid fa-xmark"></i>Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div @fadeInOut class="backdrop-opacity"></div>
}
@if(success()){
<div @animateChildren class="modal-success">
  <div @transformTranslate class="modal-success-dialog">
    <div class="modal-success-content">
      <div class="modal-success-body">
        <div class="modal-success-icon">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <div class="modal-succes-text-group">
          <h2 class="modal-success-title">Success</h2>
          <p class="modal-success-text">{{ message() }}</p>
        </div>
        <div class="modal-success-btn-group">
          <button class="modal-success-btn" (click)="closeModalSuccess()"><i class="fa-solid fa-check"></i>Okay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div @fadeInOut class="modal-success-backdrop"></div>
}
