<div class="sidebar">
  <div class="sidebar-header">
    <img src="img/brand/logo-icon.png" class="logo-icon" alt="logo-icon" />
    <h4 class="logo-text">Wass</h4>
    <div class="box-icon">
      <i class="sidebar-icon fa-solid fa-chevron-left"></i>
    </div>
  </div>
  <div class="sidebar-content">
    <ul id="sidebar-menu" class="sidebar-menu">
      <li>HHH</li>
      <li class="menu-label">Configuraciones</li>
      <li>
        <a href="#">
          <div class="menu-item-icon">
            <i class="fa-solid fa-building"></i>
          </div>
          <div class="menu-title">Sucursales</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <a href="" class="footer-item">
      <i class="fa-solid fa-house"></i>
    </a>
    <a href="" class="footer-item">
      <i class="fa-solid fa-user"></i>
    </a>
    <a href="" class="footer-item">
      <i class="fa-solid fa-clipboard-check"></i>
    </a>
    <a href="" class="footer-item">
      <i class="fa-solid fa-gear"></i>
    </a>
    <a href="" class="footer-item">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>
</div>
