@import "../../styles/variables.scss";

.sidebar-nav {
  background: $dark-blue;
  width: $sidebar-width;
  height: 100vh;
  padding: 20px 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0px 0px 30px 0px rgba(200, 208, 216, 0.3);
  transition: all 0.3s ease-out 0s;
  transform: translateX(0);
}

.sidebar-header {
  padding: 0 25px;
  margin-bottom: 30px;
  margin-top: 11px;
}

.sidebar-brand {
  color: rgb(13, 110, 253);
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  display: inline-block;
}

.menu {
  height: calc(100vh - 180px);
}

.menu-content {
  margin: 0;
  padding: 0 0 0 12px;
  list-style-type: none;
}

.menu-group-label {
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
  color: $sky-light-blue;
  padding-left: 20px;
}

.menu-item {
  position: relative;
}

.menu-label {
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  display: flex;
  align-items: center;
  // color: #9aa4ca;
  color: $sky-blue;
  font-size: 14px;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 7px 25px;
}

.menu-icon {
  display: inline-block;
  margin-right: 12px;
  margin-top: -4px;
  font-size: 14px;
  transition: all 0.3s ease-out 0s;
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: all 0.3s ease-out 0s;
  font-family: "Roboto-Medium";
}

.divider {
  display: inline-block;
  width: 100%;
  padding: 5px 25px;
}

.line-divider {
  margin: 16px 0;
  color: $sky-blue;
  border: 0;
  border-top: 1px solid;
  // opacity: 0.25;
  height: 1px;
  background: $white;
}

.sidebar-footer {
  gap: 0.3rem !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: 1px solid $white;
  padding: 6px 3px;
  border-radius: 10px;
  // margin: 5px;
  margin: 15px 12px;
  overflow: hidden;
}

.footer-item {
  background: $light-blue;
  border-radius: 6px;
  position: relative;
  max-height: 42px;
  max-width: 42px;
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $sky-blue;
  text-decoration: none;
}

.footer-item:hover {
  background-color: $white;
  color: $dark-blue;
}

.footer-item > i {
  font-size: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 11;
  transform: translateX(-100%);
}

// a {
//   text-decoration: none;
// }

// .sidebar {
//   position: fixed;
//   flex-direction: column !important;
//   transition: 0.3s ease;
//   display: flex;
//   width: 265px;
//   background-color: $dark-blue;
//   margin: 0;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   z-index: 105;
//   border-right: 0;
// }

// .sidebar-header {
//   padding-left: 1.5rem !important;
//   padding-right: 1.5rem !important;
//   height: 75px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   position: relative;
//   flex-shrink: 0;
//   border-bottom: 1px dashed rgb(255 255 255 / 50%);
// }

// .logo-header {
//   text-decoration: none;
//   color: $white;
// }

// .logo-img {
//   vertical-align: middle;
//   height: 25px !important;
// }

// .toggle-btn {
//   text-align: center;
//   cursor: pointer;
//   user-select: none;
//   border-radius: 0.425rem;
//   position: absolute;
//   top: 50%;
//   left: 100%;
//   transform: translate(-50%, -50%);
//   width: 30px;
//   height: 30px;
//   outline: none;
//   background-color: $white;
//   border: 1px solid #f1f1f2;
//   color: $semi-light-blue;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 0;
//   line-height: 1;
//   box-shadow: 0px 8px 14px rgba(15, 42, 81, 0.04);
//   transition: 0.2s ease-in-out;
// }

// .toggle-btn:hover {
//   color: $dark-blue;
// }

// .toogle-icon {
//   font-size: 16px;
// }

// .sidebar-menu {
//   flex: 1 0 auto;
//   overflow: hidden !important;
//   height: calc(100vh - 210px);
// }

// .menu-container {
//   scrollbar-width: thin;
//   margin: 1.25rem 0.75rem !important;
//   position: relative;
//   overflow-y: scroll;
//   scrollbar-color: transparent transparent;
//   height: 100%;
// }

// .sidebar .menu-container:hover {
//   scrollbar-color: $white transparent;
// }

// .menu {
//   scrollbar-width: thin;
//   scrollbar-color: $white transparent;
//   font-size: 1.075rem !important;
//   font-family: "Roboto-Medium";
//   display: flex;
//   padding: 0;
//   margin: 0;
//   list-style: none;
//   flex-direction: column;
//   width: 100%;
// }

// .menu-item {
//   display: block;
//   padding: 0.15rem 0;
//   margin-left: 0.115rem;
// }

// .menu-subitem {
//   padding: 1rem 1rem 0.5rem 1rem;
// }

// .menu-label {
//   font-size: 0.85rem !important;
//   text-transform: uppercase !important;
//   letter-spacing: 0.1rem;
//   color: $sky-light-blue;
// }

// .menu-link {
//   cursor: pointer;
//   display: flex;
//   align-items: center;
//   padding: 0.65rem 1rem;
//   transition: 0.2s ease-in-out;
//   outline: none;
//   border-radius: 0.475rem;
//   color: $sky-blue;
// }

// .menu-link:hover {
//   background-color: $white;
//   color: $dark-blue;
// }

// .menu-icon {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-shrink: 0;
//   width: 2rem;
//   margin-right: 0.5rem;
// }

// .menu-title {
//   display: flex;
//   align-items: center;
//   flex-grow: 1;
//   font-family: "Roboto-Medium";
//   font-size: 0.875rem;
// }

// .sidebar-footer {
//   gap: 0.3rem !important;
//   display: flex !important;
//   align-items: center;
//   justify-content: center;
//   border: 1px solid $white;
//   padding: 6px 3px;
//   border-radius: 10px;
//   // margin: 5px;
//   margin: 15px 12px;
//   overflow: hidden;
// }

// .footer-item {
//   background: $light-blue;
//   border-radius: 6px;
//   position: relative;
//   max-height: 42px;
//   max-width: 42px;
//   height: 42px;
//   width: 42px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: $sky-blue;
// }

// .footer-item:hover {
//   background-color: $white;
//   color: $dark-blue;
// }

// .footer-item > i {
//   font-size: 1rem;
// }
