<aside class="sidebar-nav">
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><img [src]="'img/brand/logo.svg'" alt="" /></a>
  </div>
  <nav class="menu">
    <h3 class="menu-group-label">
      <span class="menu-group-title">Configuraciones</span>
    </h3>
    <ul class="menu-content">
      <li class="menu-item">
        <a class="menu-label" href="#">
          <span class="menu-icon"><i class="fa-solid fa-shop"></i></span>
          <span class="menu-title">Sucursales</span>
        </a>
      </li>
      <!-- <span class="divider">
        <hr class="line-divider" />
      </span> -->
      <li class="nav-item">
        <a href="#">
          <span class="menu-icon"></span>
          <span class="menu-title"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#"><span class="menu-icon"></span><span class="menu-title"></span></a>
      </li>
      <li class="nav-item">
        <a href="#"><span class="menu-icon"></span><span class="menu-title"></span></a>
      </li>
      <li class="nav-item">
        <a href="#"><span class="menu-icon"></span><span class="menu-title"></span></a>
      </li>
      <li class="nav-item">
        <a href="#"><span class="menu-icon"></span><span class="menu-title"></span></a>
      </li>
      <li class="nav-item">
        <a href="#"><span class="menu-icon"></span><span class="menu-title"></span></a>
      </li>
    </ul>
  </nav>
  <!-- <div class="sidebar-footer">
    <a href="" class="footer-item"><i class="fa-solid fa-user"></i></a>
    <a href="" class="footer-item"><i class="fa-solid fa-clipboard-check"></i></a>
    <a href="" class="footer-item"><i class="fa-solid fa-briefcase"></i></a>
    <a href="" class="footer-item"><i class="fa-solid fa-gear"></i></a>
    <a href="" class="footer-item"><i class="fa-solid fa-right-from-bracket"></i></a>
  </div> -->
</aside>
<!-- <div class="overlay"></div> -->

<!-- <div class="sidebar">
  <div class="sidebar-header">
    <a href="" class="logo-header">
      <img src="img/brand/default-dark.svg" alt="" class="logo-img" />
    </a>
    <div class="toggle-btn">
      <i class="toogle-icon fa-solid fa-angles-left"></i>
    </div>
  </div>
  <div class="sidebar-menu">
    <div class="menu-container">
      <div class="menu">
        <div class="menu-item">
          <a class="menu-link" routerLink="/admin/dashboard">
            <span class="menu-icon"><i class="fa-solid fa-chart-pie"></i></span>
            <span class="menu-title">Dashboard</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link">
            <span class="menu-icon"><i class="fa-solid fa-toggle-off"></i></span>
            <span class="menu-title">Layout Builder</span>
          </a>
        </div>
        <div class="menu-item">
          <div class="menu-subitem">
            <span class="menu-label">Elements</span>
          </div>
        </div>
        <div class="menu-item">
          <a class="menu-link" routerLink="/admin/settings/branch-offices">
            <span class="menu-icon"><i class="fa-solid fa-gears"></i></span>
            <span class="menu-title">Sucursales</span>
          </a>
        </div>
        <div class="menu-item"><span>A</span></div>
        <div class="menu-item"><span>A</span></div>
        <div class="menu-item"><span>A</span></div>
        <div class="menu-item"><span>A</span></div>
        <div class="menu-item"><span>A</span></div>
      </div>
    </div>
  </div>
  <div class="sidebar-footer">
    <a href="" class="footer-item"><i class="fa-solid fa-user"></i></a>
    <a href="" class="footer-item"><i class="fa-solid fa-clipboard-check"></i></a>
    <a href="" class="footer-item"><i class="fa-solid fa-briefcase"></i></a>
    <a href="" class="footer-item"><i class="fa-solid fa-gear"></i></a>
    <a href="" class="footer-item"><i class="fa-solid fa-right-from-bracket"></i></a>
  </div>
</div> -->
