<div class="sidebar">
  <div class="sidebar-header">
    <a href="" class="logo-header">
      <img src="img/brand/AdminLTELogo.png" alt="" class="logo-img" />
    </a>
    <div class="toggle-btn">
      <i class="toogle-icon fa-solid fa-angles-left"></i>
    </div>
  </div>
  <div class="sidebar-menu">
    <div class="menu-container">
      <div class="menu">
        <div class="menu-item"><span>A</span></div>
        <div class="menu-item"><span>A</span></div>
        <div class="menu-item"><span>A</span></div>
        <div class="menu-item"><span>A</span></div>
        <div class="menu-item"><span>A</span></div>
        <div class="menu-item"><span>A</span></div>
        <div class="menu-item"><span>A</span></div>
        <div class="menu-item"><span>A</span></div>
        <div class="menu-item"><span>A</span></div>
        <div class="menu-item"><span>A</span></div>
      </div>
    </div>
  </div>
</div>
