/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Roboto-Regular";
  src: url("../public/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../public/fonts/roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("../public/fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../public/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("../public/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("../public/fonts/roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../public/fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: url("../public/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../public/fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("../public/fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../public/fonts/roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("../public/fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
}
