@import "../../../../shared/styles/variables.scss";

.modal-retrieve {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  padding-left: 0;
}

.modal-dialog {
  position: relative;
  width: 80%;
  margin: 1.421872rem auto;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: calc(100% - 2.84375rem);
  background-color: $black;
  border-radius: 0.625rem !important;

  // max-width: 40.625rem !important;
}

.modal-background-image {
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100%;
  opacity: 0.6;
  width: 100%;
  transition: all 0.3s ease;
  border-radius: 0.625rem !important;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  pointer-events: auto;
  // background-color: $white;
  // background-color: #e8e8e8;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.175);
  box-shadow: 0 0.40625rem 0.8125rem 0 rgba(0, 0, 0, 0.1);
  outline: 0;
  border-radius: 0.625rem !important;
  margin: 15px;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-color: $dark-blue;
  padding: 1.421872rem;
  border-top-right-radius: 0.385935rem;
  border-top-left-radius: 0.385935rem;
  border: 0 !important;
  border-width: 0 !important;
  padding-bottom: 0 !important;
}

.modal-label {
  margin-bottom: 18px !important;
  text-align: center !important;
}

.modal-title {
  margin-top: 0;
  line-height: 1.2;
  color: $white;
  font-size: 22px;
  outline: 0;
  // margin-bottom: 9.75px;
}

.modal-body {
  flex: 1 1 auto;
  padding: 0 3.046872rem 3.046872rem !important;
  background-color: $white;
  border-bottom-right-radius: 0.385935rem;
  border-bottom-left-radius: 0.385935rem;
  overflow-y: scroll;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: #f1f1f4 transparent;
}

.modal-retrieve-form {
  display: flex;
  flex-wrap: wrap;
  margin: 18px -1.25rem 0;
}

.modal-group {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}
