<div class="modal-retrieve">
  <div class="modal-dialog">
    <div
      class="modal-background-image"
      [style]="
        'background-image:url(https://imagenes.elpais.com/resizer/v2/PYLNGDT3NBPFJCO7BFH7566U2M.jpg?auth=256f8a2ddff6269141e8fb860fc2fdf94f304186875288c96ca90c386b0c008c&width=1200)'
      "
    ></div>
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          <h2>SUCURSAL</h2>
        </div>
      </div>
      <div class="modal-body">
        <div class="col-12 box-group mt-4">
          <label class="title-wrapper">Dirección</label>
        </div>
        <div class="col-4 box-group mt">
          <label class="title-wrapper">Celular</label>
        </div>
        <div class="col-4 box-group mt">
          <label class="title-wrapper">Telefono</label>
        </div>
        <div class="col-4 box-group mt">
          <label class="title-wrapper">Zip</label>
        </div>
        <div class="col-12 box-group mt">
          <label class="title-wrapper">Email</label>
        </div>
        <div class="col-4 box-group mt">
          <label class="title-wrapper">Ciudad</label>
        </div>
        <div class="col-4 box-group mt">
          <label class="title-wrapper">Estado/Provincia</label>
        </div>
        <div class="col-4 box-group mt">
          <label class="title-wrapper">Pais</label>
        </div>
        <div class="col-12 box-group d-flex mt-15">
          <button class="btn" type="button"><i class="fa-solid fa-xmark"></i>Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop"></div>
