<div class="modal-retrieve">
  <div class="modal-dialog">
    <div class="modal-content btlr bblr">
      <img
        src="https://imagenes.elpais.com/resizer/v2/PYLNGDT3NBPFJCO7BFH7566U2M.jpg?auth=256f8a2ddff6269141e8fb860fc2fdf94f304186875288c96ca90c386b0c008c&width=1200"
        class="modal-background-image"
      />
    </div>
    <div class="modal-content btrr bbrr">
      <div class="modal-header">
        <div class="modal-label">
          <h1 class="modal-title">SUCURSAL</h1>
        </div>
      </div>
      <div class="modal-body">
        <div class="modal-retrieve-form">
          <div class="col-4 box-group mt-40">
            <label for="" class="modal-info-title"><i class="fa-solid fa-key modal-info-icon"></i>Codigo</label>
            <div class="modal-group">
              <label class="modal-text">1</label>
            </div>
          </div>
          <div class="col-8 box-group mt-40">
            <label for="" class="modal-info-title"><i class="fa-solid fa-store modal-info-icon"></i>Nombre</label>
            <div class="modal-group">
              <label class="modal-text">CHRISELECTRONICS</label>
            </div>
          </div>
          <div class="col-8 box-group mt-26">
            <label for="" class="modal-info-title"><i class="fa-solid fa-map modal-info-icon"></i>Dirección</label>
            <div class="modal-group">
              <label class="modal-text">Leon Febres Cordero y Javier Ascazubi</label>
            </div>
          </div>
          <div class="col-4 box-group mt-26">
            <label for="" class="modal-info-title"><i class="fa-solid fa-map-location-dot modal-info-icon"></i>Zip</label>
            <div class="modal-group">
              <label class="modal-text">180206</label>
            </div>
          </div>
          <div class="col-12 box-group">
            <label for="" class="modal-info-title"><i class="fa-solid fa-envelope modal-info-icon"></i>Email</label>
            <div class="modal-group">
              <label class="modal-text">mavroboticswebdev7690&#64;gmail.com</label>
            </div>
          </div>
          <div class="col-4 box-group mt-26">
            <label for="" class="modal-info-title"><i class="fa-solid fa-mobile-screen-button modal-info-icon"></i>Celular</label>
            <div class="modal-group">
              <label class="modal-text">0981498842</label>
            </div>
          </div>
          <div class="col-4 box-group mt-26">
            <label for="" class="modal-info-title"><i class="fa-solid fa-square-phone modal-info-icon"></i>Telefono</label>
            <div class="modal-group">
              <label class="modal-text">032420133</label>
            </div>
          </div>
          <div class="col-4 box-group mt-26">
            <label for="" class="modal-info-title"><i class="fa-solid fa-earth-americas modal-info-icon"></i>País</label>
            <div class="modal-group">
              <label class="modal-text">Ecuador</label>
            </div>
          </div>
          <div class="col-2 box-group mt-26"></div>
          <div class="col-4 box-group mt-26">
            <label for="" class="modal-info-title"><i class="fa-solid fa-city modal-info-icon"></i>Ciudad</label>
            <div class="modal-group">
              <label class="modal-text">Ambato</label>
            </div>
          </div>
          <div class="col-4 box-group mt-26">
            <label for="" class="modal-info-title"><i class="fa-solid fa-mountain-city modal-info-icon"></i>Estado</label>
            <div class="modal-group">
              <label class="modal-text">Tungurahua</label>
            </div>
          </div>
          <div class="col-2 box-group mt-26"></div>
          <div class="col-12 box-group d-flex">
            <button class="btn-success" type="button"><i class="fa-solid fa-check"></i>Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop"></div>
