<div class="modal-retrieve">
  <div class="modal-dialog">
    <div
      class="modal-background-image"
      [style]="
        'background-image:url(https://imagenes.elpais.com/resizer/v2/PYLNGDT3NBPFJCO7BFH7566U2M.jpg?auth=256f8a2ddff6269141e8fb860fc2fdf94f304186875288c96ca90c386b0c008c&width=1200)'
      "
    ></div>
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-label">
          <h1 class="modal-title">CHRISELECTRONICS</h1>
        </div>
      </div>
      <div class="modal-body">
        <div class="modal-retrieve-form">
          <div class="col-12 box-group">
            <div class="modal-group">
              <span class="input-icon"><i class="fa-solid fa-map"></i></span>
              <label class="input-text">Leon Febres Cordero y Javier Ascazubi</label>
            </div>
          </div>
          <div class="col-4 box-group">
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-mobile-screen-button"></i></span>
              <label class="input-text">0981498842</label>
            </div>
          </div>
          <div class="col-4 box-group">
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-square-phone"></i></span>
              <label class="input-text">2420133</label>
            </div>
          </div>
          <div class="col-4 box-group">
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-map-location-dot"></i></span>
              <label class="input-text">180206</label>
            </div>
          </div>
          <div class="col-12 box-group">
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-envelope"></i></span>
              <label class="input-text">mavroboticswebdev7690&#64;gmail.com</label>
            </div>
          </div>
          <div class="col-4 box-group">
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-city"></i></span>
              <label class="input-text">Ambato</label>
            </div>
          </div>
          <div class="col-4 box-group">
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-mountain-city"></i></span>
              <label class="input-text">Tungurahua</label>
            </div>
          </div>
          <div class="col-4 box-group">
            <div class="input-group">
              <span class="input-icon"><i class="fa-solid fa-earth-americas"></i></span>
              <label class="input-text">Ecuador</label>
            </div>
          </div>
          <div class="col-12 box-group d-flex mt-15">
            <button class="btn" type="submit"><i class="fa-solid fa-floppy-disk"></i>Guardar</button>
            <button class="btn" type="button"><i class="fa-solid fa-xmark"></i>Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal-backdrop"></div> -->
