<div class="dashboard">
  <nav class="header">
    <ul class="navbar">
      <li class="navbar-item">
        <a class="navbar-link" href="#" role="button">
          <i class="fa-solid fa-bars"></i>
        </a>
      </li>
      <li class="navbar-item d-sm-inline-block"><a class="navbar-link" href="#">Home</a></li>
      <li class="navbar-item d-sm-inline-block"><a class="navbar-link" href="#">Contact</a></li>
    </ul>
    <ul class="navbar">
      <li><a href="#">a</a></li>
      <li><a href="#">a</a></li>
      <li><a href="#">a</a></li>
      <li><a href="#">a</a></li>
      <li><a href="#">a</a></li>
    </ul>
  </nav>
  <aside class="side-bar"></aside>
  <div class="dashboard-content">
    <p>dashboard works!</p>
  </div>
</div>
