@import "../../../../shared/styles/variables.scss";

.page-header-toolbar {
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  padding-top: 30px;
}

.page-title {
  margin: 0;
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: $dark-blue;
}

.btn {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  margin: 0;
  text-transform: none;
  appearance: button;
  background-image: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(255 255 255 / 1);
  box-shadow: 0 0 #0000, 0 0 #0000, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-new {
  border-radius: 0.5rem;
  // background-color: rgba(13, 71, 161, 0.8);
  background-color: $light-blue;
  // background-color: #00abe4;
}

.btn-new:hover {
  background-color: $dark-blue;
}

.btn:active {
  transform: scale(0.9);
}

.data-table {
  overflow: hidden;
  border-radius: 0.75rem;
  border-width: 1px;
  border-color: rgb(228 231 236 / 1);
  background-color: rgb(255 255 255 / 1);
  padding-top: 1rem;
}

.data-table-header {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.text-dark-blue {
  color: $dark-blue;
}

.text-dark-blue-8 {
  color: rgba(13, 71, 161, 0.7);
}

.data-number-option {
  position: relative;
  z-index: 20;
  background-color: transparent;
}

.data-number-select {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  margin: 0;
  text-transform: none;
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  print-color-adjust: exact;
  height: 2.25rem;
  width: 100%;
  appearance: none;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(208 213 221 / 1);
  background-color: transparent;
  background-image: none;
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $dark-blue;
  box-shadow: 0 0 #0000, 0 0 #0000, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.data-option-icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  z-index: 30;
  transform: translate(0, -50%) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  color: $dark-blue;
  font-size: 12px;
}

// .toolbar {
//   display: flex;
//   align-items: stretch;
//   padding-top: 1.5rem;
//   padding-bottom: 1.5rem;
//   height: auto;
//   background-color: transparent;
//   border-top: 0;
//   border-bottom: 0;
//   box-shadow: none;
// }

// .toolbar-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-right: auto;
//   margin-left: auto;
//   padding-right: 1.875rem !important;
//   padding-left: 1.875rem !important;
//   max-width: 82.5rem;
//   width: 100%;
// }

// .page-label-wrapper {
//   display: flex !important;
//   flex-direction: column !important;
//   flex-wrap: wrap !important;
//   justify-content: center !important;
//   margin-right: 0.75rem !important;
// }

// .page-title {
//   margin: 0 0.75rem 0.0625rem 0 !important;
//   font-size: 1.125rem !important;
//   color: #071437;
//   letter-spacing: 0.0313rem;
// }

// .page-subtitle {
//   margin-top: 0.0625rem !important;
//   font-size: 0.875rem;
//   color: #99a1b7;
//   letter-spacing: 0.0313rem;
//   font-weight: 400;
// }

// .btn-actions-wrapper {
//   display: flex !important;
//   align-items: center !important;
//   gap: 0.75rem !important;
// }

// .btn-actions {
//   display: inline-flex;
//   align-items: center;
//   font-size: 0.875rem;
//   text-align: center;
//   vertical-align: middle;
//   cursor: pointer;
//   user-select: none;
//   border-radius: 0.425rem;
//   transition: 0.15s ease-in-out;
//   outline: 0 !important;
//   color: #252f4a;
//   background-color: #f1f1f4;
//   border: 0;
//   box-shadow: none;
//   padding: 0.6125rem 1.0625rem;
// }

// .btn-actions:hover {
//   background-color: #dbdfe9;
// }

// .btn-enabled {
//   color: $white;
//   background-color: $semi-light-blue;
// }

// .btn-enabled:hover {
//   color: $white;
//   background-color: $light-blue;
// }

// .btn-actions > i {
//   display: inline-flex;
//   margin-right: 0.25rem;
//   padding-right: 0.35rem;
//   font-size: 0.8125rem;
//   line-height: 1;
//   color: #99a1b7;
// }

// a {
//   text-decoration: none;
// }

// .list-container {
//   flex: 1 0 auto;
//   padding: 0 !important;
// }

// .list-content {
//   width: 100%;
//   max-width: 82.5rem;
//   margin-right: auto;
//   margin-left: auto;
//   padding-right: 30px !important;
//   padding-left: 30px !important;
// }

// .card {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   min-width: 0;
//   color: #071437;
//   word-wrap: break-word;
//   background-color: $white;
//   background-clip: border-box;
//   border-radius: 0.625rem;
//   box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
//   margin-bottom: 2rem !important;
//   border: 1px solid #f1f1f4;
//   height: 100%;
// }

// .card-header {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-wrap: wrap;
//   min-height: 70px;
//   padding: 1.25rem 2.25rem 0 2.25rem;
//   background-color: transparent;
//   margin-bottom: 0;
//   border: 0 !important;
//   border-width: 0 !important;
//   border-radius: 0.5625rem 0.5625rem 0 0;
// }

// .input-wrapper {
//   position: relative !important;
//   width: 400px !important;
//   margin-right: 0.5rem !important;
// }

// .input-search {
//   display: block;
//   width: 100%;
//   margin: 0;
//   padding: 10.0752px 0.8125rem 10.0752px 2rem;
//   font-size: 1rem;
//   appearance: none;
//   background-clip: padding-box;
//   border: 1px solid #e9f3ff;
//   border-radius: 0.475rem;
//   background-color: #e9f3ff;
//   transition: 0.2s ease;
//   color: $input-color;
//   outline: none;
// }

// .input-search:focus {
//   background-color: $white;
//   border: 1px solid $semi-light-blue;
// }

// .input-label {
//   position: absolute;
//   top: 50%;
//   left: 0.8125rem;
//   transform: translateY(-50%);
//   font-size: 1rem;
//   pointer-events: none;
//   transition: 0.2s ease-in-out;
//   color: $light-blue;
// }

// .input-search:focus ~ .input-label {
//   top: 0;
//   left: 1.25rem;
//   font-size: 14px;
//   padding: 0 2px;
//   background-color: $white;
//   color: $semi-light-blue;
// }

// .icon-search {
//   transition: 0.2s ease-in-out;
// }

// .btn-toolbar-wrapper {
//   display: flex;
//   align-items: center;
//   margin: 0.5rem 0;
//   flex-wrap: wrap;
//   gap: 0.75rem !important;
// }

// .btn-toolbar {
//   display: inline-block;
//   font-size: 0.875rem;
//   text-align: center;
//   vertical-align: middle;
//   cursor: pointer;
//   user-select: none;
//   border-radius: 0.425rem;
//   transition: 0.15s ease-in-out;
//   outline: 0 !important;
//   color: $white;
//   background-color: $semi-light-blue;
//   border: 0;
//   box-shadow: none;
//   padding: 0.6125rem 1.0625rem;
// }

// .btn-toolbar:hover {
//   background-color: $light-blue;
// }

// .btn-toolbar > i {
//   display: inline-flex;
//   margin-right: 0.25rem;
//   padding-right: 0.35rem;
//   font-size: 0.8125rem;
// }

// .card-body {
//   flex: 1 1 auto;
//   padding: 0.75rem 2.25rem;
// }

// .table-wrapper {
//   overflow-x: auto;
// }

// .table {
//   vertical-align: middle;
//   caption-side: bottom;
//   border-collapse: collapse;
//   width: 100%;
//   margin-bottom: 1rem;
//   border-color: #f1f1f4;
// }

// .table > thead {
//   border-color: inherit;
//   border-style: solid;
//   border-width: 0;
//   vertical-align: bottom;
// }

// .row-head {
//   background-color: #f9f9f9 !important;
//   color: #99a1b7;
//   border-color: inherit;
//   border-width: inherit;
//   border-style: inherit;
//   text-transform: inherit;
//   font-size: 0.875rem;
//   height: inherit;
//   min-height: inherit;
// }

// .cells-head {
//   text-align: inherit;
//   padding: 0.8125rem 0.609375rem;
//   background-color: $semi-light-blue;
//   border-color: inherit;
//   border-width: inherit;
//   border-style: inherit;
//   text-transform: inherit;
//   font-family: "Roboto-Medium";
//   font-weight: inherit;
//   font-size: inherit;
//   color: $white;
//   height: inherit;
//   min-height: inherit;
// }

// .rounded-start {
//   padding-left: 0.8125rem !important;
//   border-top-left-radius: 0.475rem !important;
//   // border-bottom-left-radius: 0.475rem !important;
// }

// .rounded-end {
//   padding-right: 0;
//   border-top-right-radius: 0.475rem !important;
//   // border-bottom-right-radius: 0.475rem !important;
// }

// .cell-sm {
//   min-width: 125px !important;
// }

// .cell-md {
//   min-width: 150px !important;
// }

// .cell-lg {
//   min-width: 200px !important;
// }

// .cell-xl {
//   min-width: 325px !important;
// }

// .table > tbody {
//   vertical-align: inherit;
//   border-color: transparent;
//   border-width: 0;
//   border-style: none;
// }

// .row-body {
//   border-color: inherit;
//   border-width: inherit;
//   border-style: inherit;
//   text-transform: inherit;
//   font-weight: inherit;
//   font-size: inherit;
//   color: inherit;
//   height: inherit;
//   min-height: inherit;
// }

// .cells-body {
//   padding: 0.8125rem 0.609375rem;
//   background-color: transparent;
//   border-color: inherit;
//   border-width: inherit;
//   border-style: inherit;
//   text-transform: inherit;
//   font-weight: inherit;
//   font-size: inherit;
//   color: inherit;
//   height: inherit;
//   min-height: inherit;
// }

// .pl {
//   padding-left: 0;
// }

// .pr-text-end {
//   padding-right: 0;
//   text-align: center !important;
// }

// .cell-group {
//   display: flex !important;
//   align-items: center;
// }

// .cell-img {
//   display: inline-block;
//   flex-shrink: 0;
//   position: relative;
//   border-radius: 0.475rem;
//   margin-right: 1.015622rem !important;
// }

// img {
//   vertical-align: middle;
// }

// .cell-img > img {
//   display: inline-block;
//   border-radius: 0.475rem;
//   width: 50px;
//   height: 50px;
// }

// .cell-label {
//   display: flex !important;
//   flex-direction: column !important;
//   justify-content: flex-start;
// }

// .cell-text-up {
//   margin-bottom: 0.203125rem !important;
//   font-size: 0.875rem !important;
//   transition: 0.2s ease;
//   color: #071437 !important;
//   font-family: "Roboto-Medium";
// }

// .d-block {
//   display: block;
// }

// .cell-text-down {
//   display: block !important;
//   font-size: 0.8125rem !important;
//   color: #99a1b7;
// }

// .cell-badge {
//   display: inline-flex;
//   align-items: center;
//   font-family: "Roboto-Medium";
//   font-size: 0.875rem !important;
//   padding: 0.2640622rem 0.40625rem;
//   // line-height: 1;
//   text-align: center;
//   white-space: nowrap;
//   vertical-align: baseline;
//   border-radius: 0.425rem;
// }

// .badge-blue {
//   background-color: #e9f3ff;
//   color: #1b84ff;
// }

// .badge-red {
//   background-color: #ffeef3;
//   // color: #f8285a;
//   color: #dc3545;
// }

// .badge-green {
//   background-color: #dfffea;
//   // color: #17c653;
//   color: #198754;
// }

// .badge-purple {
//   background-color: #f8f5ff;
//   color: #7239ea;
// }

// .badge-orange {
//   background-color: #fff8dd;
//   // color: #f6c000;
//   color: #ffc107;
// }

// .cell-btn {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   padding: 0;
//   line-height: 1;
//   background-color: $semi-light-blue;
//   border: 0;
//   box-shadow: none;
//   height: 2.1771rem;
//   width: 2.1771rem;
//   // height: 2.5rem;
//   // width: 2.5rem;
//   outline: 0 !important;
//   margin-right: 0.625rem !important;
//   font-size: 0.875rem;
//   color: $white;
//   text-align: center;
//   vertical-align: middle;
//   cursor: pointer;
//   user-select: none;
//   border-radius: 0.425rem;
//   transition: 0.15s ease-in-out;
// }

// .cell-btn:hover {
//   background-color: $light-blue;
// }

// .cell-btn > i {
//   display: inline-flex;
//   padding-right: 0;
//   font-size: 0.875rem !important;
// }
