@import "../../styles/variables.scss";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: #071437;
  word-wrap: break-word;
  background-color: $white;
  background-clip: border-box;
  border-radius: 0.625rem;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
}

.toolbar-container {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.card-label {
  display: flex;
  flex-direction: column !important;
  margin: 0.5rem 0.5rem 0.5rem 0;
  align-items: flex-start !important;
  justify-content: center;
  line-height: 1.2;
  outline: 0;
  font-size: 1.275rem;
  color: #071437;
}

.card-title {
  margin: 0 0.75rem 0.25rem 0 !important;
  font-size: 18px !important;
  color: #071437;
  letter-spacing: 0.0313rem;
}

.card-subtitle {
  margin-top: 0.25rem !important;
  font-size: 14px;
  color: #99a1b7;
  letter-spacing: 0.0313rem;
}

.page-actions {
  display: flex !important;
  align-items: center !important;
  gap: 0.75rem !important;
}
