<div class="toolbar">
  <div class="toolbar-container">
    <div class="page-label-wrapper">
      <span class="page-title">Tables</span>
      <span class="page-subtitle">Home</span>
    </div>
    <div class="btn-actions-wrapper">
      <a href="" class="btn-actions"><i class="fa-solid fa-filter"></i>Filter</a>
      <a href="" class="btn-actions">Create</a>
    </div>
  </div>
</div>
<div class="list-container">
  <div class="list-content">
    <div class="card">
      <div class="card-header">
        <div class="card-input">
          <input type="text" class="input-search" placeholder="Search" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="card-toolbar">
          <a href="" class="card-btn"><i class="fa-solid fa-plus"></i>Nuevo</a>
          <!-- <a href="" class="card-btn">B</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
