<div class="toolbar">
  <div class="toolbar-container">
    <div class="page-label-wrapper">
      <span class="page-title">Tables</span>
      <span class="page-subtitle">Home</span>
    </div>
    <div class="btn-actions-wrapper">
      <a href="" class="btn-actions"><i class="fa-solid fa-filter"></i>Filter</a>
      <a href="" class="btn-actions btn-enabled">Create</a>
    </div>
  </div>
</div>
<div class="list-container">
  <div class="list-content">
    <div class="card">
      <div class="card-header">
        <div class="input-wrapper">
          <input type="text" class="input-search" />
          <label for="" class="input-label">
            <i class="icon-search fa-solid fa-magnifying-glass"></i>
            Search
          </label>
        </div>
        <div class="btn-toolbar-wrapper">
          <a href="" class="btn-toolbar"><i class="fa-solid fa-plus"></i>Nuevo</a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <tr class="row-title">
                <th class="cells cell-xl-rounded-start">1</th>
                <th class="cells cell-sm">2</th>
                <th class="cells cell-sm">3</th>
                <th class="cells cell-lg">4</th>
                <th class="cells cell-md">5</th>
                <th class="cells cell-lg">6</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
