<div class="toolbar">
  <div class="toolbar-container">
    <div class="page-label-wrapper">
      <span class="page-title">Tables</span>
      <span class="page-subtitle">Home</span>
    </div>
    <div class="btn-actions-wrapper">
      <a href="" class="btn-actions"><i class="fa-solid fa-filter"></i>Filter</a>
      <a href="" class="btn-actions btn-enabled">Create</a>
    </div>
  </div>
</div>
<div class="list-container">
  <div class="list-content">
    <div class="card">
      <div class="card-header">
        <div class="input-wrapper">
          <input type="text" class="input-search" />
          <label for="" class="input-label">
            <i class="icon-search fa-solid fa-magnifying-glass"></i>
            Search
          </label>
        </div>
        <div class="btn-toolbar-wrapper">
          <a href="" class="btn-toolbar"><i class="fa-solid fa-plus"></i>Nuevo</a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-wrapper">
          <table class="table">
            <thead>
              <tr class="row-head">
                <th class="cells-head cell-xl rounded-start">Product</th>
                <th class="cells-head cell-sm">Price</th>
                <th class="cells-head cell-sm">Deposit</th>
                <th class="cells-head cell-lg">Agent</th>
                <th class="cells-head cell-md">Status</th>
                <th class="cells-head cell-lg rounded-end"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="row-body">
                <td class="cells-body pl">
                  <div class="cell-group">
                    <div class="cell-img">
                      <img src="img/social-networks/ytb.png" alt="" />
                    </div>
                    <div class="cell-label">
                      <a href="" class="cell-text-up">Sant Extreanet Solution</a>
                      <span class="cell-text-down">HTML, JS, ReactJS</span>
                    </div>
                  </div>
                </td>
                <td class="cells-body">
                  <a href="" class="cell-text-up d-block">$2,790</a>
                  <span class="cell-text-down">Paid</span>
                </td>
                <td class="cells-body">
                  <a href="" class="cell-text-up d-block">$520</a>
                  <span class="cell-text-down">Rejected</span>
                </td>
                <td class="cells-body">
                  <a href="" class="cell-text-up d-block">Bradly Beal</a>
                  <span class="cell-text-down">Insurance</span>
                </td>
                <td class="cells-body">
                  <span class="cell-badge badge-blue">Approved</span>
                </td>
                <td class="cells-body pr-text-end">
                  <a href="" class="cell-btn"><i class="fa-solid fa-toggle-off"></i></a>
                  <a href="" class="cell-btn"><i class="fa-solid fa-pencil"></i></a>
                  <a href="" class="cell-btn"><i class="fa-solid fa-trash-can"></i></a>
                </td>
              </tr>
              <tr class="row-body">
                <td class="cells-body pl">
                  <div class="cell-group">
                    <div class="cell-img">
                      <img src="img/social-networks/gglch.png" alt="" />
                    </div>
                    <div class="cell-label"><a href="" class="cell-text-up">A</a><span class="cell-text-down">B</span></div>
                  </div>
                </td>
                <td class="cells-body"><a href="" class="cell-text-up d-block">A</a><span class="cell-text-down">B</span></td>
                <td class="cells-body"><a href="" class="cell-text-up d-block">A</a><span class="cell-text-down">B</span></td>
                <td class="cells-body"><a href="" class="cell-text-up d-block">A</a><span class="cell-text-down">B</span></td>
                <td class="cells-body">
                  <span class="cell-badge badge-red">In Progress</span>
                </td>
                <td class="cells-body pr-text-end">
                  <a href="" class="cell-btn"><i class="fa-solid fa-toggle-off"></i></a>
                  <a href="" class="cell-btn"><i class="fa-solid fa-pencil"></i></a>
                  <a href="" class="cell-btn"><i class="fa-solid fa-trash-can"></i></a>
                </td>
              </tr>
              <tr class="row-body">
                <td class="cells-body pl">
                  <div class="cell-group">
                    <div class="cell-img">
                      <img src="img/social-networks/ffx.png" alt="" />
                    </div>
                    <div class="cell-label"><a href="" class="cell-text-up">A</a><span class="cell-text-down">B</span></div>
                  </div>
                </td>
                <td class="cells-body"><a href="" class="cell-text-up d-block">A</a><span class="cell-text-down">B</span></td>
                <td class="cells-body"><a href="" class="cell-text-up d-block">A</a><span class="cell-text-down">B</span></td>
                <td class="cells-body"><a href="" class="cell-text-up d-block">A</a><span class="cell-text-down">B</span></td>
                <td class="cells-body">
                  <span class="cell-badge badge-green">Success</span>
                </td>
                <td class="cells-body pr-text-end">
                  <a href="" class="cell-btn"><i class="fa-solid fa-toggle-off"></i></a>
                  <a href="" class="cell-btn"><i class="fa-solid fa-pencil"></i></a>
                  <a href="" class="cell-btn"><i class="fa-solid fa-trash-can"></i></a>
                </td>
              </tr>
              <tr class="row-body">
                <td class="cells-body pl">
                  <div class="cell-group">
                    <div class="cell-img">
                      <img src="img/social-networks/sfr.png" alt="" />
                    </div>
                    <div class="cell-label"><a href="" class="cell-text-up">A</a><span class="cell-text-down">B</span></div>
                  </div>
                </td>
                <td class="cells-body"><a href="" class="cell-text-up d-block">A</a><span class="cell-text-down">B</span></td>
                <td class="cells-body"><a href="" class="cell-text-up d-block">A</a><span class="cell-text-down">B</span></td>
                <td class="cells-body"><a href="" class="cell-text-up d-block">A</a><span class="cell-text-down">B</span></td>
                <td class="cells-body">
                  <span class="cell-badge badge-purple">Rejected</span>
                </td>
                <td class="cells-body pr-text-end">
                  <a href="" class="cell-btn"><i class="fa-solid fa-toggle-off"></i></a>
                  <a href="" class="cell-btn"><i class="fa-solid fa-pencil"></i></a>
                  <a href="" class="cell-btn"><i class="fa-solid fa-trash-can"></i></a>
                </td>
              </tr>
              <tr class="row-body">
                <td class="cells-body pl">
                  <div class="cell-group">
                    <div class="cell-img">
                      <img src="img/social-networks/op.png" alt="" />
                    </div>
                    <div class="cell-label"><a href="" class="cell-text-up">A</a><span class="cell-text-down">B</span></div>
                  </div>
                </td>
                <td class="cells-body"><a href="" class="cell-text-up d-block">A</a><span class="cell-text-down">B</span></td>
                <td class="cells-body"><a href="" class="cell-text-up d-block">A</a><span class="cell-text-down">B</span></td>
                <td class="cells-body"><a href="" class="cell-text-up d-block">A</a><span class="cell-text-down">B</span></td>
                <td class="cells-body">
                  <span class="cell-badge badge-orange">Warning</span>
                </td>
                <td class="cells-body pr-text-end">
                  <a href="" class="cell-btn"><i class="fa-solid fa-toggle-off"></i></a>
                  <a href="" class="cell-btn"><i class="fa-solid fa-pencil"></i></a>
                  <a href="" class="cell-btn"><i class="fa-solid fa-trash-can"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
