@use "../../../../shared/styles/variables.scss" as *;

.modal-delete {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  padding-left: 0;
  display: block;
}

.modal-delete-dialog {
  position: relative;
  width: auto;
  margin: 1.75rem auto;
  pointer-events: none;
  display: flex;
  align-items: center;
  // justify-content: center;
  min-height: calc(100% - 1.75rem * 2);
  max-width: 500px !important;
}

.modal-delete-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgb(93, 101, 123);
  pointer-events: auto;
  border: 1px solid rgba($black, 0.175);
  outline: 0;
  text-align: center;
  background: $white;
  padding: 25px 30px;
  position: relative;
  box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.2);
  border-radius: 7px;
}

.modal-delete-card {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.delete-card-header {
  margin-bottom: 30px;
  font-size: 139px;
  color: $warning;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-card-body {
  margin-bottom: 30px;
}

.card-title {
  line-height: 1.2;
  color: #1e375a;
  margin: 0 0 15px;
  font-size: 28px;
}

.card-text {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: rgba(#1e375a, 0.7);
}

.delete-card-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.action-btn {
  margin: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  z-index: 5;
  // transition: all 0.3s ease-out 0s;
  transition: all 0.4s ease-in-out;
  border: 1px solid $warning;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  background: transparent;
  color: $warning;
  border-radius: 0.5rem;
}
