<!-- <div class="loader-container">
  <div class="loader">
    <svg viewBox="0 0 80 80">
      <rect x="8" y="8" width="64" height="64"></rect>
      <text x="50%" y="60%" text-anchor="middle" fill="black" font-size="24" font-weight="bold">L</text>
    </svg>
  </div>

  <div class="loader">
    <svg viewBox="0 0 80 80">
      <rect x="8" y="8" width="64" height="64"></rect>
      <text x="50%" y="60%" text-anchor="middle" fill="black" font-size="24" font-weight="bold">O</text>
    </svg>
  </div>

  <div class="loader">
    <svg viewBox="0 0 80 80">
      <rect x="8" y="8" width="64" height="64"></rect>
      <text x="50%" y="60%" text-anchor="middle" fill="black" font-size="24" font-weight="bold">A</text>
    </svg>
  </div>

  <div class="loader">
    <svg viewBox="0 0 80 80">
      <rect x="8" y="8" width="64" height="64"></rect>
      <text x="50%" y="60%" text-anchor="middle" fill="black" font-size="24" font-weight="bold">D</text>
    </svg>
  </div>

  <div class="loader">
    <svg viewBox="0 0 80 80">
      <rect x="8" y="8" width="64" height="64"></rect>
      <text x="50%" y="60%" text-anchor="middle" fill="black" font-size="24" font-weight="bold">I</text>
    </svg>
  </div>

  <div class="loader">
    <svg viewBox="0 0 80 80">
      <rect x="8" y="8" width="64" height="64"></rect>
      <text x="50%" y="60%" text-anchor="middle" fill="black" font-size="24" font-weight="bold">N</text>
    </svg>
  </div>

  <div class="loader">
    <svg viewBox="0 0 80 80">
      <rect x="8" y="8" width="64" height="64"></rect>
      <text x="50%" y="60%" text-anchor="middle" fill="black" font-size="24" font-weight="bold">G</text>
    </svg>
  </div>
</div> -->

<div id="load">
  <div class="loading-bar">Loading</div>
</div>
