<div class="modal-success">
  <div class="modal-success-dialog">
    <div class="modal-success-content">
      <div class="modal-success-body">
        <div class="modal-success-icon">
          <i class="fa-solid fa-triangle-exclamation"></i>
        </div>
        <div class="modal-succes-text-group">
          <h2 class="modal-success-title">Warning!</h2>
          <p class="modal-success-text">An error has occurred while operating an error report</p>
        </div>
        <div class="modal-success-btn-group">
          <button class="modal-success-btn">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-success-backdrop"></div>

<!-- @if(success){
<div @animateChildren class="modal-success-backdrop">
  <div @showModal class="modal-success">
    <div @showBtn class="modal-success-icon">
      <div class="success-circular-line-left"></div>
      <span class="success-line-tip"></span>
      <span class="success-line-long"></span>
      <div class="success-ring"></div>
      <div class="success-fix"></div>
      <div class="success-circular-line-right"></div>
    </div>
    <div class="success-message">{{ message }}</div>
    <div class="success-btn">
      <button class="confirm-btn" (click)="closeModalSuccess()">Aceptar</button>
    </div>
  </div>
</div>
} -->
