<!-- <div class="admin-root">
  <div class="admin-page">
    <comp-navbar-admin></comp-navbar-admin>
    <div class="admin-container">
      <comp-sidebar-admin></comp-sidebar-admin>
      <div class="admin-content">
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div> -->
<comp-sidebar-admin></comp-sidebar-admin>
<div class="admin-main">
  <header class="admin-header">
    <div class="header-container">
      <div class="header-row">
        <div class="col-5">
          <div class="header-left">
            <div class="header-search">
              <div class="search-wrapper">
                <input type="text" class="search-input" placeholder="Search..." />
                <button class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-7"></div>
      </div>
    </div>
  </header>
</div>
