<!--===== Page Wrapper Start =====-->
<div class="admin">
  <!--===== Sidebar Start =====-->
  <aside class="admin-sidebar">
    <!--===== Sidebar Header Start=====-->
    <div class="sidebar-header">
      <a href="" class="sidebar-brand">
        <span class="brand-box">
          <img src="img/brand/logo.svg" alt="" class="brand-image" />
        </span>
      </a>
    </div>
    <!--===== Sidebar Header End=====-->
    <!--===== Sidebar Content Start=====-->
    <div class="sidebar-content">
      <!--===== Menu Start=====-->
      <nav class="menu">
        <div>
          <h3 class="menu-group-tag">
            <span class="menu-group-title">Configuraciones</span>
          </h3>
          <ul class="menu-group-item">
            <li>
              <a href="" class="menu-item">
                <span class="menu-item-icon"><i class="fa-solid fa-store"></i></span>
                <span class="menu-item-title">Sucursales</span>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="menu-group-tag">
            <span class="menu-group-title">Configuraciones</span>
          </h3>
          <ul class="menu-group-item">
            <li>
              <a href="" class="menu-item">
                <span class="menu-item-icon"><i class="fa-solid fa-store"></i></span>
                <span class="menu-item-title">Sucursales</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!--===== Menu End=====-->
    </div>
    <!--===== Sidebar Content End=====-->
  </aside>
  <!--===== Sidebar End =====-->
  <!--===== Content Area Start =====-->
  <div class="admin-content">
    <!--===== Header Start =====-->
    <header class="admin-header">
      <div class="admin-navbar">
        <div class="nav-left">
          <div class="nav-search">
            <div>
              <div class="search-content">
                <button class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" class="search-input" placeholder="Search or type command..." />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--===== Header End =====-->
  </div>
</div>
