@import "../shared/styles/variables.scss";

.admin-main {
  // background-color: darkred;
  transition: all 0.3s ease-out 0s;
  margin-left: 250px;
  min-height: 100vh;
  padding-bottom: 85px;
  position: relative;
}

.admin-header {
  padding: 22px 0;
  background: $white;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: none;
}

.header-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  // padding-right: 24px;
  // padding-left: 24px;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 0);
  margin-right: calc(-0.5 * 24px);
  margin-left: calc(-0.5 * 24px);
}

.header-row > * {
  max-width: 100%;
  padding-right: calc(24px * 0.5);
  padding-left: calc(24px * 0.5);
  margin-top: 0;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-search {
  display: flex;
  max-width: 270px;
  width: 100%;
}

.search-wrapper {
  position: relative;
  max-width: 270px;
  width: 100%;
}

.search-input {
  margin: 0;
  font-size: inherit;
  line-height: 1.5;
  width: 100%;
  border: 2px solid #efefef;
  background: rgba(239, 239, 239, 0.5);
  border-radius: 8px;
  padding: 10px 10px 10px 44px;
  transition: all 0.3s ease-out 0s;
}

.search-input:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  background-color: $white;
  border-color: $dark-blue;
}

.search-input:focus ~ .search-icon {
  color: $dark-blue;
}

.search-input:focus::placeholder {
  color: $sky-blue;
}

.search-icon {
  border-radius: 0;
  margin: 0;
  font-size: inherit;
  line-height: 1.5;
  text-transform: none;
  appearance: button;
  transition: all 0.3s ease-out 0s;
  position: absolute;
  border: none;
  background: transparent;
  left: 16px;
  top: 0;
  height: 46px;
  color: #5d657b;
  padding: 0;
  border-style: none;
}

.search-icon > i {
  margin-bottom: 6px;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
}

.navbar-right-item {
  display: flex;
  margin-left: 15px;
  position: relative;
}

.item-btn {
  margin: 0;
  // font-family: inherit;
  font-size: 18px;
  line-height: 1.5;
  text-transform: none;
  transition: all 0.3s ease-out 0s;
  appearance: button;
  cursor: pointer;
  border: 1px solid #f6f6f6;
  background: #f6f6f6;
  border-radius: 50%;
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // color: #1A2142;
  color: $dark-blue;
}

.profile-box {
  display: flex;
  position: relative;
  margin-left: 15px;
}

.profile-btn {
  margin: 0;
  // font-family: inherit;
  font-size: 18px;
  line-height: 1.5;
  text-transform: none;
  transition: all 0.3s ease-out 0s;
  appearance: button;
  white-space: nowrap;
  border: 0 !important;
  background-color: transparent !important;
  cursor: pointer;
  background: #f6f6f6;
  border-radius: 50%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $dark-blue;
  width: auto;
}

.profile-info {
  margin: 0 5px;
}

.info {
  display: flex;
  align-items: center;
}

.profile-image {
  border: 1px solid #dfe5ef;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 14px;
  position: relative;
}

.profile-img {
  vertical-align: middle;
  width: 100%;
  border-radius: 50%;
}

.profile-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;
  // align-items: center;
}

.profile-name {
  // line-height: 1.2;
  letter-spacing: 0.6px;
  color: $dark-blue;
  margin: 0;
  font-size: 16px;
  text-align: left;
}

.profile-role {
  // line-height: 25px;
  margin: 0px;
  font-size: 14px;
  letter-spacing: 0.6px;
  text-align: left;
}

.last-access {
  // line-height: 25px;
  margin: 0px;
  font-size: 14px;
  letter-spacing: 0.6px;
  text-align: left;
}

// .admin-root {
//   display: flex !important;
//   flex-direction: column !important;
//   flex: 1;
//   background-color: #f8f9fe;
//   // background-color: #e5e5e5;
//   // background-color: #dfdfdf;
// }

// .admin-page {
//   display: flex;
//   flex: 1 0 auto;
//   flex-direction: column !important;
// }

// .admin-container {
//   display: flex;
//   flex: 1 auto;
//   min-width: 0;
//   flex-direction: column !important;
//   transition: all 0.2s ease;
//   margin-top: 4.6875rem;
//   margin-left: 16.5625rem;
// }

// .admin-content {
//   display: flex;
//   flex: 1 auto;
//   min-width: 0;
//   flex-direction: column !important;
//   transition: all 0.2s ease;
// }

// .content {
//   display: flex !important;
//   flex-direction: column !important;
//   flex: 1 0 auto;
// }
