<!--===== Page Wrapper Start =====-->
<div class="admin">
  <!--===== Sidebar Start =====-->
  <aside class="admin-sidebar">
    <!--===== Sidebar Header Start=====-->
    <div class="sidebar-header">
      <a href="" class="sidebar-brand">
        <span class="brand-box">
          <img src="img/brand/logo.svg" alt="" class="brand-image" />
        </span>
      </a>
    </div>
    <!--===== Sidebar Header End=====-->
    <!--===== Sidebar Content Start=====-->
    <div class="sidebar-content">
      <!--===== Menu Start=====-->
      <nav class="menu">
        <div>
          <h3 class="menu-group-tag">
            <span class="menu-group-title">Configuraciones</span>
          </h3>
          <ul class="menu-group-item">
            <li>
              <a href="" class="menu-item">
                <span class="menu-item-icon"><i class="fa-solid fa-store"></i></span>
                <span class="menu-item-title">Sucursales</span>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="menu-group-tag">
            <span class="menu-group-title">Configuraciones</span>
          </h3>
          <ul class="menu-group-item">
            <li>
              <a href="" class="menu-item">
                <span class="menu-item-icon"><i class="fa-solid fa-store"></i></span>
                <span class="menu-item-title">Sucursales</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!--===== Menu End=====-->
    </div>
    <!--===== Sidebar Content End=====-->
  </aside>
  <!--===== Sidebar End =====-->
  <!--===== Content Area Start =====-->
  <div class="admin-content">
    <!--===== Header Start =====-->
    <header class="admin-header">
      <!--===== Navbar Start =====-->
      <div class="admin-navbar">
        <div class="nav-left">
          <div class="nav-search">
            <div>
              <div class="search-content">
                <button class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" class="search-input" placeholder="Search or type command..." />
                <button class="search-shortcut">
                  <!-- <span><i class="fa-solid fa-info"></i></span> -->
                  <span class="ctrl-keyboard-key">ctrl</span>
                  <span>+ F</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-right">
          <div class="nav-right-buttons-group">
            <button class="nav-right-item-btn"><i class="fa-regular fa-copyright"></i></button>
            <button class="nav-right-item-btn"><i class="fa-regular fa-registered"></i></button>
          </div>
          <div class="profile-user-info">
            <a href="" class="profile-info-group">
              <span class="profile-info-image">
                <img src="img\users\profile-image.png" alt="" class="profile-info-img" />
              </span>
              <div class="profile-info">
                <span class="profile-name">Emirhan Boruch</span>
                <!-- <span class="profile-role">Role: <span>Admin</span></span> -->
                <!-- <span class="profile-last">Last Access: <span>16 Mar 16:32</span></span> -->
              </div>
              <span class="arrow-down-btn"><i class="fa-solid fa-chevron-down"></i></span>
            </a>
          </div>
        </div>
      </div>
      <!--===== Navbar End =====-->
    </header>
    <!--===== Header End =====-->
    <!--===== Main Content Start =====-->
    <main>
      <div class="main-content">
        <router-outlet />
      </div>
      <footer class="main-footer"></footer>
    </main>
  </div>
  <!--===== Content Area End =====-->
</div>
<!--===== Page Wrapper End =====-->
